<div class="col-9 max-container px-0 m-auto" style="margin-bottom: 2%!important;margin-top: 1%!important;">
        <h2>{{ node.label }}</h2>
        <div class="shareBox">
		Comparte
		<a href="#" class="share-facebook">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a href="#" class="share-twitter">
			<i class="fab fa-twitter"></i>
		</a>
	</div>
        <div class="col-12 imgNoticia"> {{ content.field_imagen_principal_noticia }}</div>
        <div class="col-12 subTitleNoticia"> {{ content.field_sub_titulo_noticia }}</div>
        <div class="lineGris"></div>
        <div class="containerBodyNoticia">
        <div class="floatedImageNoticia">{{ content.field_imagen_secundaria_noticia }}</div>
        <div class="bodyNoticia">{{ content.field_cuerpo_noticia }}</div>
        </div>

        
</div>

