<div class="layout-container">

	<header role="banner">
	  {{ page.header }}
	</header>
  
	{{ page.primary_menu }}
	{{ page.secondary_menu }}
  
	{{ page.breadcrumb }}
  
	{{ page.highlighted }}
  
	{{ page.help }}
<div class='whiteArea'>
   <main role="main" class="col-9 max-container px-0 m-auto">
	<div class="row">
		<div class='col-12'>
			<h1>Sobre el proyecto</h1>
		</div>
		<div class='col-12 '>
			<div class='descItem pt-0 pb-5'>Quinsac es una base de datos dedicada  principalmente a artistas de relevancia patrimonial, histórica y artística. Esta herramienta reúne y sistematiza diferentes niveles de información que, en su conjunto, permiten la construcción de distintos catálogos razonados.</div>
		</div>
		
		<div class='col-12 row'>
			<h2 class="pb-3">Equipo</h2>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Ángela Benavente Covarrubias</h3>
					<div class='rolPersona'>Conservadora</div>
					<div class='nombreInstitucion'>Unidad Patrimonio de las Artes Visuales</div>
					<div class='correoPersona'>
						<a href='#'>Angela.Benavente@patrimoniocultural.gob.cl <i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>				
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Jaime Cuevas Pérez</h3>
					<div class='rolPersona'>Investigador</div>
					<div class='nombreInstitucion'>Museo Nacional de Bellas Artes</div>
					<div class='correoPersona'>
						<a href='#'>jaime.cuevas@mnba.gob.cl<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>				
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Tomás Aguayo</h3>
					<div class='rolPersona'>Unidad de Ciencias de la Conservación</div>
					<div class='nombreInstitucion'>Centro Nacional de Conservación y Restauración</div>
					<div class='correoPersona'>
						<a href='#'>
						</a>
					</div>				
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Iris Moya</h3>
					<div class='rolPersona'>Coordinadora Área de Normalización de Vocabulario</div>
					<div class='nombreInstitucion'>Centro de Documentación de Bienes Patrimoniales</div>
					<div class='correoPersona'>
						<a href='#'>Iris.moya@patrimoniocultural.gob.cl<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>				
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Roberto Medina Carrasco</h3>
					<div class='rolPersona'>Coordinación de Política Digital</div>
					<div class='nombreInstitucion'>Servicio Nacional del Patrimonio Cultural</div>
					<div class='correoPersona'>
						<a href='#'>roberto.medina@patrimoniocultural.gob.cl<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>				
				</div>
				<h2 class="pb-3">Desarrolladores</h2>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">BlueCompany</h3>
					<div class='rolPersona'>Etapa I</div>
					<div class='nombreInstitucion'></div>
					<div class='correoPersona'>
						<a href='#'>
						</a>
					</div>				
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">BiblioRedes</h3>
					<div class='rolPersona'>Etapa II</div>
					<div class='nombreInstitucion'></div>
					<div class='correoPersona'>
						<a href='#'>
						</a>
					</div>				
				</div>

				<h2 class="pb-3 pt-5">Historia</h2>
				<div class='descItem pt-0 pb-5'>
					<p>En el marco del proyecto internacional Monvoisin en América: catalogación razonado de Raymond Quinsac Monvoisin y sus discípulos, y como una manera de potenciar los estudios monográficos y comprensivos de artistas, es que desde el año 2019 el Museo Nacional de Bellas Artes (MNBA) y el Centro Nacional de Conservación y Restauración (CNCR), ambos pertenecientes al Servicio Nacional del Patrimonio Cultural (SNPC), colaboran para la creación de Quinsac, una base de datos que permita reunir y sistematizar diferentes niveles de información que, en su conjunto, permita la construcción de distintos catálogos razonados dedicados principalmente a artistas de relevancia patrimonial, histórica y artística. </p>
					<p>De esta manera, se busca fortalecer la puesta en valor de las colecciones y artistas y fomentar su acceso a las distintas comunidades interesadas en la historia del arte, la conservación/restauración y las humanidades en un amplio espectro.</p>
		</div>
	</div>

	  
  </main>
</div>
	{% if page.footer %}
	  <footer role="contentinfo">
		{{ page.footer }}
	  </footer>
	{% endif %}
  
  </div>{# /.layout-container #}
  
