
<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}


  <main role="main" class="col-9 max-container px-0 m-auto terminosCondiciones">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <h1>Términos y condiciones de uso</h1>

    <div class="titleBiblio">1. Condiciones generales</b></div>

    <p>¡Bienvenido al Portal de BiblioRedes!</p>
    <br>
    <p>BiblioRedes es un proyecto de la Dirección de Bibliotecas, Archivos y Museos que ofrece a la comunidad acceso y habilitación en el uso de la TICs.</p>
    <p>Antes de registrarse procure leer y comprender estos Términos y Condiciones de uso. A los usuarios que no respeten las normas y reglamentos se les podrá eliminar su cuenta, eventualmente, sin notificación previa. La interpretación de estas normas queda a discreción exclusiva de la Dirección de Bibliotecas, Archivos y Museos. </p>
    <p>El presente acuerdo describe los Términos y Condiciones Generales de Uso, aplicables a la utilización de todos los servicios del Programa. </p>
    <p>Si alguna persona no aceptare someterse a los presentes Términos y Condiciones de Uso, 
    de carácter obligatorio y vinculante, deberá abstenerse de utilizar este tipo de servicios.</p>

    <div class="titleBiblio">2. Aceptación</b></div>

    <p>Al aceptar los presentes Términos y Condiciones de Uso, el usuario deberá someterse a todas las 
    disposiciones contenidas en el presente acuerdo, la legislación aplicable, estatutos, 
    reglamentos y regulaciones relativas a la utilización de los servicios del Programa
    BiblioRedes.</p>

    <p>Al aceptar los presentes Términos y Condiciones de Uso, el usuario declara expresamente que: 
    “Es una persona capaz de discernir, ha entrado a este Portal por su propia voluntad y
    no ha sido coaccionado para ello.” Reconoce y entiende que el contenido de muchas de 
    las páginas que se puedan localizar a través de vínculos y motores de búsquedas pueden
    contener imágenes, sonidos o textos que resulten inadecuados para sus creencias o conceptos,
    liberando al respecto de cualquier responsabilidad a la Dibam u otra entidad sostenedora del
    servicio por esa circunstancia o cualquiera otra que estuviere directa o indirectamente 
    relacionada con ella.</p>

    <div class="titleBiblio">3. Modificación de términos y condiciones generales</b></div>

    <p>Sin perjuicio de lo anterior, la Dirección de Bibliotecas, Archivos y Museos, 
    a través de BiblioRedes se reserva el derecho de actualizar, reemplazar, modificar y/o c
    omplementar unilateralmente los Términos y Condiciones presentes, sin previo aviso. 
    Estas modificaciones, actualizaciones, reemplazos y/o complementaciones se entenderán 
    realizadas con la sola publicación de las mismas en el Portal de BiblioRedes. </p>

    <p>La utilización de los servicios después de efectuada la modificación, 
    se entenderá como una aceptación expresa y total por parte del Usuario de los nuevos Términos
    y Condiciones de Uso.</p> 
    
    <p>Por lo anterior, es de responsabilidad del Usuario revisar periódicamente 
    los presentes Términos y Condiciones de Uso.</p>

    <div class="titleBiblio">4. Aceptación de las condiciones de servicio: condición de usuario</b></div>

    <p>El mero acceso y/o utilización de cualquiera de los servicios antes señalados, así como de todos o parte de 
    los contenidos que en ellos se incorporan, atribuye la condición de "Usuario".</p> 
    
    <p>Dicha condición de Usuario conlleva, necesariamente, la previa aceptación y adhesión, plena y sin reservas,
    a los presentes Términos y Condiciones de Uso.</p>
     
    <p>La puesta a disposición y el uso de los servicios por parte del Usuario se entenderá, en todo caso, 
    supeditada al estricto cumplimiento por parte de éste de los términos recogidos en los presentes 
    Términos y Condiciones de Uso.</p>
    
    <p>Si el Usuario decide no aceptar los presentes Términos y Condiciones de Uso y/o, en su caso,
    las Nuevas Condiciones, deberá abstenerse de acceder y/o utilizar los contenidos y/o servicios 
    de publicación ofrecidos por el Portal de BiblioRedes.</p>

    <div class="titleBiblio">5. Menores de edad</b></div>  

    <p>Los niños menores de edad siempre deben solicitar y obtener el permiso de sus padres, de su tutor o 
    de su representante legal antes de poder registrarse en todos y/o alguno de los servicios.</p> 
    
    <p>La Dirección de Bibliotecas, Archivos y Museos y por ende BiblioRedes entiende que desde el momento 
    en que un menor de edad accede al Portal, cuenta con el permiso de sus padres, de su tutor o de su
    representante legal. </p>
    
    <p>Como responsable legal de los menores a su cargo, recuerde que los servicios que ofrece BiblioRedes, 
    están dirigidos a una audiencia diversa y por consiguiente pueden existir determinadas
    áreas o secciones del mismo que pudieran incorporar contenidos o servicios no 
    apropiados para los menores de edad. </p>
    
    <p>BiblioRedes recuerda a los Usuarios y Usuarias mayores de edad que tengan menores a su cargo que 
    será de su exclusiva responsabilidad determinar qué contenidos y/o servicios son o no apropiados 
    para la edad de estos últimos, liberando, por este acto, de cualquier responsabilidad al respecto a la 
    Dibam, a BiblioRedes y a la Municipalidad.</p>
    
    <div class="titleBiblio">6. El portal</b></div>  

    <p>A los efectos de los presentes Términos y Condiciones de Uso se entenderá incluido en la definición de Portal: </p>
    
    <p>1. La apariencia externa de los interfaces de pantalla, tanto de forma estática como de forma dinámica 
    (es decir, el árbol de navegación). </p>
    
    <p>2. Los elementos integrados tanto en los interfaces de pantalla como en 
    el árbol de navegación, incluyendo, a título enunciativo y no limitativo, aquellos textos, imágenes, sonidos, 
    bases de datos, productos multimedia, interpretaciones, ejecuciones artísticas, fijaciones, fotografías, 
    señales de radiodifusión y, en general, todas aquellas creaciones y objetos expresados por cualquier 
    medio o soporte, actualmente conocido o que se invente en el futuro, sean o no, objeto de protección por 
    el ordenamiento jurídico vigente en materia de propiedad intelectual, industrial o por cualesquiera 
    otros sistemas jurídicos análogos. </p>
    
    <p>3. Toda la gama de recursos en línea provistos a través de las páginas del Portal de BiblioRedes, incluyendo, 
    a título enunciativo y no limitativo: servicios de publicación; servicios de comunicación, servicios
    de capacitación. </p>

    <p>4. Y, en general, todos aquellos recursos y propiedades de titularidad o bajo el control de BiblioRedes
    localizables en la dirección electrónica www.biblioredes.cl, sus subdominios y subdirectorios, y todas las
    guías de Internet, desarrolladas en todo o en parte por BiblioRedes, que exhiban o transfieran información 
    hacia o desde cualquier equipo electrónico conocido o que se desarrolle en un futuro, incluyendo, a título 
    enunciativo y no limitativo, ordenadores personales, teléfonos móviles, asistentes personales digitales, 
    buscadores y equipos de televisión.</p>
    
    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    6.1. Productos y servicios</div>

    <p>BiblioRedes facilita a los Usuarios el acceso a una amplia gama de servicios y recursos en línea entre 
    los cuales se incluyen, a título enunciativo y no limitativo:</p> 

    <p>1.<b>Servicios de acceso y comunicación</b>: son aquellas herramientas que permiten el acceso y la transmisión de datos 
    a través de la Red.</p>  

    <p>2.<b>Servicios de capacitación</b> se trata de cursos de infocapacitación en formato presencial y en línea.</p>  

    <p>3.<b>Servicios de Publicación</b>: son aquellas secciones del Portal que le permiten al Usuario crear y publicar archivos 
    de cualquier tipo. Salvo que se especifique expresamente lo contrario, cualquier característica y/o especificación 
    que mejore la gama de servicios ofertados, o el lanzamiento de nuevos recursos se regulará, 
    en lo que proceda, por los Términos y Condiciones de Uso en su caso sean de aplicación.</p> 
    
    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    6.2. Modificación y cancelación</div>

    <p>BiblioRedes se reserva la facultad de modificar, en cualquier momento, y sin aviso previo, 
    la presentación y configuración de sus servicios. El Usuario reconoce y acepta expresamente 
    que en cualquier momento BiblioRedes pueda interrumpir,desactivar y/o cancelar cualquiera de los 
    contenidos y/o servicios que ofrece.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    6.3. Capacidad y dimensionamiento</div>

    <p>El Usuario reconoce y acepta expresamente que BiblioRedes puede ampliar, limitar o restringir la capacidad, 
    disponibilidad y operatividad de los contenidos y/o servicios que ofrece.</p>

    <p>Tal facultad incluye, a título de ejemplo, la posibilidad de ampliar o limitar el número de veces así como la 
    duración máxima de tiempo, que el Usuario pueda acceder a determinados contenidos y/o servicios, etc.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
      6.4. Disponibilidad</div>

    <p><b>BiblioRedes</b> realizará todos los esfuerzos que sean razonables para intentar garantizar la disponibilidad y 
    accesibilidad de sus servicios. No obstante, en ocasiones, y, por ejemplo, debido a causas como el suministro 
    de nuevas conexiones, los cambios de direccionamiento y/o la actualización de operaciones de mantenimiento 
    necesarias que, en general, impliquen la suspensión del acceso o utilización de los servicios, 
    podrán producirse interrupciones por el tiempo que resulte necesario acometer dichas tareas.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    6.5. Requisitos técnicos de acceso</div>

    <p>En el caso de que el usuario acceda desde un punto distinto a una de las Bibliotecas Públicas donde está implementado 
    BiblioRedes, deberá (i) contar con un acceso a su costo a la Red, bien sea directamente o indirectamente a través de
    los dispositivos de acceso y (ii) tener el equipo y los sistemas informáticos necesarios para realizar 
    la conexión a la Red, incluyendo un terminal que sea adecuado al efecto (ordenador, teléfono, etc.) y 
    un módem u otro dispositivo de acceso análogo o similar.</p> 
     
    <p>En el caso de que el usuario acceda desde una   de las Bibliotecas Públicas donde está implementado BiblioRedes, 
    deberá atenerse a las condiciones de tiempo de uso fijado por la biblioteca.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    6.6. Carácter gratuito</div>

    <p><b>Carácter gratuito</b>: salvo que se establezca expresamente lo contrario en futuras modificaciones a los presentes Términos y 
    Condiciones de Uso, el acceso y la utilización de los servicios y sus contenidos tienen carácter gratuito para los Usuarios y
    Usuarias.</p> 
    
    <p><b>Coste telefónico</b>: el coste del consumo telefónico que suponga la utilización del Portal, así como cualesquiera costes y/o 
    gastos ajenos al mero acceso y puesta a disposición de los portales de capacitación, correrán única y exclusivamente a cuenta
    del Usuario, quien deberá hacer frente a los mismos directamente.</p> 

    <div class="titleBiblio">7. Contenido</div>

    <p>Se entenderá por contenido a toda la información, mensajes, gráficos, dibujos, diseños, logotipos, nombres, marcas, 
    archivos de sonido, archivos de imagen, archivo de texto, fotografías, grabaciones, software y, en general, cualquier 
    clase de material accesible a través de las publicaciones guardadas y/o creadas con las herramientas de publicación del Portal.</p> 
    
    <p>El servicio de hosting que BiblioRedes proporciona a través de las herramientas de publicación sólo puede ser utilizado 
    para fines lícitos. </p>
    
    <p>En caso alguno la Dirección de Bibliotecas, Archivos y Museos y BiblioRedes se hace responsable por los contenidos que sus 
    usuarios pudieren transmitir, almacenar o publicar en sus sitios utilizando el servicio de hosting. 
    Estos son de exclusiva responsabilidad de la persona o personas que originaron el sitio.</p> 
    
    <p>En caso de presentarse cualquier disputa respecto de la información transmitida, almacenada o publicada a través del Portal, los usuarios 
    liberan a la Dirección de Bibliotecas, Archivos y Museos y BiblioRedes de cualquier responsabilidad, obligaciones, 
    deudas, reclamo y/o daños de cualquier naturaleza relacionados con tal disputa.</p> 
     
    <p>La transmisión, almacenamiento,   presentación de cualquier información, datos, archivos, o material considerado ilegal, o enlaces (links) a otros sitios 
    que contengan o incluyan, sin que la presente enumeración sea taxativa, cualquiera de los contenidos que se señalan más
    adelante, serán considerados un incumplimiento de los presentes Términos y Condiciones de Uso, quedando BiblioRedes en 
    consecuencia, facultado para: eliminar el o las publicaciones que el Usuario hubiese creado, guardado, almacenado y/o 
    publicado en el Portal; y tomar las acciones que la Dirección de Bibliotecas, Archivos y Museos y BiblioRedes estimen 
    pertinentes.</p>

    <div class="titleBiblio">8. Normas de acceso y uso del portal</div>

    <p>El Usuario se obliga expresamente a hacer uso del Portal de una forma lícita, diligente y correcta, 
    respetando las siguientes normas de acceso y uso del Portal, y asumiendo cualquier responsabilidad que 
    pudiera derivarse del incumplimiento de las mismas.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    Acceso al portal</div>

    <p>El Usuario se obliga a acceder a los contenidos y/o servicios del Portal por medio de la interfaz que
    BiblioRedes proporciona al Usuario para acceder a los mismos, respetando el tema principal, 
    evitando tratar otros temas, para lo cual deberá buscar el foro adecuado o crear uno nuevo.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    Identidad del usuario</div>

    <p>El Usuario se obliga a identificarse correctamente, no suplantando identidades ajenas, bajo ninguna circunstancia.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    Respeto a otros usuarios</div>

    <p>El Usuario está obligado a utilizar el portal de manera respetuosa con los otros usuarios y usuarias, quedando 
    vedada cualquier forma de hostigamiento a terceros, como asimismo, recoger o almacenar información personal sobre 
    otros Usuarios del Portal sin cumplir la legislación vigente en materia de protección de datos, ni poner a disposición
    de terceros, con cualquier finalidad, datos captados a partir de listas de distribución.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    Finalidad de uso del portal</div>
    
    <p>El Usuario reconoce y acepta que la utilización del Portal será efectuada con fines estrictamente personales, 
    privados y particulares o corporativos, siempre y cuando el uso realizado tenga lugar únicamente a efectos internos. 
    Queda expresamente prohibido que el Usuario autorice a terceros el uso total o parcial del Portal, o que introduzca o 
    incorpore como una actividad empresarial propia los contenidos y servicios del Portal.</p> 
      
    <p>Queda expresamente prohibido el uso o aplicación de cualesquiera recursos técnicos, lógicos o tecnológicos 
    en cuya virtud los Usuarios puedan beneficiarse, directa o indirectamente, con o sin lucro, de la explotación no 
    autorizada de los contenidos y/o servicios del Portal.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    Actividades contrarias a la ley, la moral y el orden público</div>
    
    <p>El Usuario se compromete a utilizar el Portal de conformidad con la Ley, la moral, las buenas costumbres aceptadas y 
    el orden público establecido y con fines o efectos lícitos.</p>  

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    Utilización, transmisión y difusión de contenidos y servicios</div>
    
    <p>El Usuario se obliga a utilizar los contenidos y/o servicios adecuados para el disfrute del Portal y/o de los 
    contenidos y/o servicios por parte de los Usuarios, absteniéndose de utilizarlo de cualquier forma que pueda dañar,
    inutilizar, sobrecargar o deteriorar el Portal. </p>

    <p>Asimismo, queda prohibida la difusión, almacenamiento y/o gestión de contenidos que sean susceptibles 
    de infringir derechos de terceros o cualesquiera normativas reguladoras de derechos, sea de naturaleza 
    civil, penal, administrativa, entre otras.</p> 

    <p>1 - Invadan o lesionen la intimidad de terceros.</p>
    <p>2 - Supongan o puedan suponer de algún modo un riesgo para la salud o la integridad física o psíquica de los usuarios.</p>
    <p>3 - Induzcan, inciten o promuevan cualquier tipo de:</p>
    
    <p style="margin-left: 14rem;">i. Actuaciones delictivas, denigratorias, difamatorias, infamantes y/o violentas. </p>
    <p style="margin-left: 14rem;">ii. Actuaciones, actitudes y/o ideas discriminatorias por razón de sexo, raza, religión, creencias, edad o condición </p>
    <p style="margin-left: 14rem;">iii. Actuaciones que desarrollen un estado inaceptable de ansiedad o temor; incorporen mensajes delictivos, violentos, 
    pornográficos, degradantes, y/o de algún modo, sean contrarios a la moral, las buenas costumbres comúnmente aceptadas
    o al orden público establecido.</p>

    <p>4 - Sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o limitar el funcionamiento de 
    cualquier software, hardware o equipo de telecomunicaciones.</p> 

    <p>5 - Sean susceptibles, de acuerdo con las disposiciones legales aplicables, de infringir el derecho de propiedad 
    intelectual, industrial y otros derechos análogos de terceros, y/o, constituyan información privilegiada y/o elementos 
    protegidos por derechos de propiedad industrial o intelectual, o información sobre la cual tiene un deber de confidencialidad, 
    etc.</p>
    
    <p>6 - El Usuario se obliga, por último, a no falsificar ni manipular documentos con el fin de engañar o llevar a engaño a los
    Usuarios sobre la naturaleza del contenido transmitido.</p>

    <p>7 - El usuario se compromete a no ofrecer hipervínculos en sus publicaciones que apunten hacia sitios o páginas no conformes 
    a la legislación chilena.</p>

    <p>8 - Asimismo, el usuario se compromete a no insertar páginas, imágenes, textos, videos, sonidos o animaciones que puedan 
    dañar la imagen de BiblioRedes, de la Dirección de Bibliotecas, Archivos y Museos y cualquiera de las instituciones que la 
    componen o del Estado de Chile.</p>

    <p>9 - BiblioRedes se reserva el derecho de bloquear los contenidos contrarios a la Ley, a la moral, a las buenas costumbres
    aceptadas o al orden público establecido y con fines o efectos ilícitos, prohibidos o lesivos de derechos e intereses de 
    terceros, así como todos aquellos contenidos particularizados en los puntos 8 y 9 de estos Términos y Condiciones de Uso.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    Envío no autorizado de comunicaciones</div>

    <p>El Usuario se obliga, a título meramente enunciativo, a: </p>

    <p>1. No remitir publicidad de cualquier clase y comunicaciones con fines de naturaleza comercial o publicitaria, 
    o de cualquier otro tipo, que sean "correos basura" (spam), "cartas en cadena", "estructuras piramidales" o cualquier 
    otra forma de envíos masivos no autorizados, excepto en aquellas áreas que hayan sido exclusivamente concebidas para ello.</p> 
    
    <p>2. No remitir cualesquiera mensajes no solicitados ni consentidos previamente a una pluralidad de personas. </p> 
    
    <p>3. No enviar cadenas de mensajes electrónicos no solicitados ni previamente consentidos, ni utilizar listas de distribución 
    a las que pueda accederse a través del Portal o de los Servicios para la realización de las actividades señaladas en los
    apartados (a) y (b) anteriores. </p> 
     
    <p>4. No utilizar listas de distribución a las que pueda accederse a través del Portal que tuvieren por objeto cualquiera de 
    las conductas arriba mencionadas.</p> 
    
    <p>Funcionamiento del Portal: equipos y sistemas informáticos </p> 
    
    <p>El Usuario se obliga a: </p> 
    
    <p>1. No dañar, inutilizar o deteriorar los equipos y sistemas informáticos o equipos de telecomunicaciones de BiblioRedes
    o de cualesquiera terceros, ni los contenidos incorporados y/o almacenados en los mismos. </p> 
    
    <p>2. No modificar los equipos y sistemas de BiblioRedes de ninguna manera, así como a no utilizar versiones de equipos y 
    sistemas modificados con el fin de obtener acceso no autorizado a cualesquiera contenidos y/o servicios del Portal. </p> 
    
    <p>3. No interrumpir ni interceptar el curso normal de las conversaciones, provocar que la pantalla del ordenador adquiera 
    mayor velocidad de la normal con la que los Usuarios y Usuarias pueden participar, o de algún modo actuar de manera que 
    afecte de forma negativa a la posibilidad de comunicarse en tiempo real.</p>  
    
    <p>4. No interferir ni interrumpir el acceso y utilización del Portal, servidores o redes conectados al mismo, o incumplir 
    los requisitos, procedimientos y regulaciones de la política de conexión de redes.</p>  

    <div class="titleBiblio">9. Contenidos prohibidos</div>

    <p>1. Contenidos de tipo racista o xenófobo, que promuevan actividades y conductas terroristas, violentas o discriminatorias hacia 
    cualquier grupo o persona de la sociedad o contengan comentarios o expresiones patentes de fanatismo, racismo, intolerancia
    o blasfemia.</p> 
    <p>2. Contenidos pornográficos u obscenos, atentatorios contra la moral y las buenas costumbres.</p> 
    <p>3. Contenidos terroristas o que promuevan la violencia en cualquiera de sus formas, incluyendo, entre otras cosas, la fabricación o el
    uso de armas o inciten a causar daños o lesiones contra cualquier grupo o individuo.</p> 
    <p>4. Contenidos difamatorios, que contengan o promuevan expresiones atentatorias contra personas, grupos de personas, 
    y/o instituciones.</p> 
    <p>5. Contenidos que intenten recabar información personal acerca de los usuarios. </p>
    <p>6. Contenidos que impliquen y/o promuevan el uso de software ilegal, contengan instrucciones o manuales para la 
    obtención, creación o uso de software ilegal. </p>
    <p>7. Contenidos o manuales y/o documentación relacionada con prácticas relacionadas con piratería, 
    cualquiera sea su tipo, desbloqueo de tecnologías protegidas por ley. </p>
    <p>8. Contenidos relacionados con warez,  hacking, cracking, phreaking. </p>
    <p>9. Contenidos relacionados con juegos de azar tales como casinos, apuestas u otras con fines lucrativos o comerciales, 
    tal como lo norma el artículo 1446 del Código Civil. </p>
    <p>10. Contenidos que contribuyan o exalten el consumo o tráfico de estupefacientes. </p>
    <p>11. Contenidos que en cualquier forma vulneren, menoscaben o pongan en peligro la intimidad personal, 
    los derechos de terceros o la propiedad intelectual y/o industrial. </p>
    <p>12. Cualquier otro tipo de contenido ilegal, según la ley vigente en Chile</p> 
    <b>Una vez detectados este tipo de contenidos serán inmediatamente removidos sin previo aviso.</b>
        
    <div class="titleBiblio">10. Servicios de comunicación</div>

    <p>Se entenderá por Servicios de Comunicación todas aquellas herramientas disponibles en el Portal de 
    BiblioRedes que permitan a sus Usuarios y Usuarias la transmisión de datos e información a través de la red.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    10.1 - Servicios de comunicación en general.</div>

    <p>Los servicios de comunicación de BiblioRedes proporcionan a los usuarios y usuarias registrados un lugar para reunirse, 
      interactuar y compartir ideas con los demás. Como en una auténtica comunidad, los participantes, pueden expresar sus propias 
      opiniones. El respeto de los presentes Términos y Condiciones de Uso contribuye a mantener una mejor convivencia, estando 
      condicionada la continuidad del uso de estos servicios por parte del usuario al cumplimiento de las normas establecidas en
      los presentes términos y condiciones.</p>


    <div class="titleBiblio">11. Proceso de registro</div>
    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    11.1. Usuarios registrados</div>
    
      <p>BiblioRedes pone a disposición de los Usuarios determinados contenidos y/o servicios a los cuales el Usuario sólo
        podrá acceder registrándose en BiblioRedes y obteniendo de este modo una Cuenta personal.</p> 
      
      <p>Al darse de alta, el Usuario deberá proporcionar la información solicitada en el formulario de registro disponible 
        en el servicio Registrarse. Sin perjuicio de ello, BiblioRedes podrá solicitar la cumplimentación de formularios de 
        registro adicionales por parte del Usuario. El tratamiento de cualquier dato de carácter personal de los Usuarios y 
        Usuarias recabado a través de los formularios de registro se realizará de conformidad con lo establecido en el punto
        12 Registro y Política de Privacidad. Los menores de edad siempre deben solicitar y obtener el permiso de sus padres,
        del tutor o del representante legal antes de remitir cualquier dato de carácter personal.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    11.2. Obligaciones relativas al proceso de registro</div>

      <p>En relación con el proceso de registro, el Usuario está obligado a facilitar información veraz, exacta y 
      completa sobre su identidad, en relación con los datos que se solicitan en el formulario de registro, así 
      como a mantener actualizada dicha información. Si el Usuario facilitara cualquier dato falso, inexacto o 
      incompleto, o si BiblioRedes tuviera motivos suficientes para sospechar que dicha información fuera falsa, 
      inexacta o incompleta, tendrá derecho a cancelar su cuenta y denegarle el acceso y uso presente y/o futuro del 
      Portal, y/o de cualquiera de los contenidos y/o servicios en él incorporados.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    11.3. Asignación de cuentas</div>
      
      <p>BiblioRedes durante el proceso de registro, solicitará al Usuario su número de documento de identidad (Rut o Pasaporte)
      y que defina una única contraseña de acceso personal. También se solicitarán algunos otros datos de caracterización,
      que varían dependiendo del tipo de servicio por el cual se ingrese al Portal.</p>
      
      <p> El Usuario deberá abstenerse de definir como contraseña palabras y/o expresiones que, en general,</p>

      <p style="margin-left: 14rem;"> i. Fuesen contrarias a la ley o a las exigencias de la moral y las buenas costumbres 
      generalmente aceptadas y, en general.</p>

      <p style="margin-left: 14rem;">  ii. Palabras y/o expresiones sobre las que recaiga algún derecho que excluya la utilización por el Usuario de las mismas.
      A tal fin, el Usuario no podrá seleccionar palabras o expresiones que sean malsonantes, injuriosas, calumniosas, 
      idénticas, similares o en modo alguno coincidentes con signos distintivos, denominaciones sociales, así como nombres, 
      apellidos, nombres artísticos y seudónimos de terceras personas.</p>


      <p>El Usuario recibirá una contraseña y asignación de cuenta tras haber completado correctamente el proceso de registro. 
      El Usuario podrá cambiar la contraseña de acceso en cualquier momento por cualesquiera otras, 
      siempre de conformidad con lo establecido en la presente cláusula.</p> 
        
      <p>La cuenta que el Usuario crea le da acceso a todos los servicios de BiblioRedes.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    11.4. Uso y custodia de la contraseña.</div>
      
      <p>El usuario se compromete a hacer un uso diligente de la contraseña y a mantenerla en secreto. 
      Sin su contraseña, no podrá acceder a los servicios que requieren estar registrado como Usuarios de BiblioRedes.</p>
      
      <p> Asimismo, el Usuario se compromete a cerrar su cuenta al final de cada sesión y a notificar a BiblioRedes de 
      manera inmediata cualquier pérdida o acceso no autorizado por parte de terceros a su contraseña. 
      Será de exclusiva responsabilidad del usuario mantener la confidencialidad de su contraseña, asumiendo 
      personalmente cualesquiera actividades que se realicen o que tenga lugar mediante la utilización de los mismos.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    11.5. Cancelación de cuentas</div>

      <p>El usuario reconoce y acepta que BiblioRedes se reserva el derecho a cancelar las cuentas que se hallen inactivas durante un 
      periodo de 30 días.</p>

    <div class="titleBiblio">12. Registro y política de privacidad</div>
    
      <p>El tratamiento de datos personales por parte de BiblioRedes, en tanto organismo público, se limita a las materias 
      de su competencia y con sujeción a la Ley N°19.628 sobre protección de la vida privada. Por lo tanto, BiblioRedes no 
      cederá a terceros los datos personales de los usuarios y usuarias sin su consentimiento expreso, sin embargo, 
      se reserva el derecho de ceder los datos de los usuarios a las entidades fiscalizadoras acreditadas que lo requieran 
      o cuando sea imperativo legal facilitar los datos confiados.</p>

      <p> Los servicios del Portal automáticamente recaban cierta información general tal como la cantidad y frecuencia de 
      los visitantes y usuarios y usuarias registrados y sus distintas áreas. Dicha información se utiliza únicamente con 
      fines estadísticos. Este tipo de información ayuda a determinar cuántos usuarios acceden a un área determinada y qué 
      partes del portal utilizan, a fin de poder mejorarlo y asegurar que sea lo más atractivo posible.</p>

    <div class="titleBiblio">13. Contenidos y servicios de terceros en el portal</div>
      
      <p>Salvo que expresamente se manifieste lo contrario, BiblioRedes no interviene en la configuración y prestación 
      de aquellos contenidos y/o servicios prestados o suministrados por terceros en y/o a través del Portal, del mismo modo 
      que tampoco controla ni ejerce control previo alguno sobre su licitud, fiabilidad, autenticidad y/o utilidad, no 
      ofreciendo por consiguiente ninguna clase de garantía sobre los mismos. El Usuario reconoce que BiblioRedes no es ni 
      será responsable de los contenidos y/o servicios prestados o suministrados por terceros en y/o a través del Portal.</p>
      
      <p>Por lo tanto cualquier transacción que resulte de la interacción digital entre los Usuarios se entenderá realizados
      exclusivamente entre los mismos.</p>
      
      <p>El Usuario acepta que BiblioRedes no asumirá responsabilidad alguna por cualesquiera daños o pérdidas producidos 
      como consecuencia de las transacciones efectuadas, por la presencia de los Anunciantes en el Portal, así como por 
      el mero acceso y utilización a los contenidos enlazados a las inserciones que se incorporan en el Portal.</p>
      
      <p> Los Anunciantes son los únicos responsables de las imágenes, texto e información contenidas en las inserciones, 
      debiendo obtener todas las autorizaciones, públicas o privadas, y efectuar todos los pagos por la utilización de 
      los derechos de propiedad intelectual e industrial, derechos de imagen u otros análogos que se contengan en el anuncio,
      siendo responsables de que tanto su contenido como cualquier información a la que puedan acceder los Usuarios y Usuarias
      a través de la inserción, cumpla las normas vigentes sobre publicidad, incluida la efectuada por medios electrónicos y 
      en línea, así como cualquier otra normativa aplicable, y, en especial, la relativa a telecomunicaciones, competencia 
      desleal, protección de consumidores y usuarios, protección de datos, derecho al honor, a la intimidad y a la propia 
      imagen, y protección del menor y de la infancia.</p>

    <div class="titleBiblio">14. Contenidos y servicios ajenos al portal</div>

      <p>El Portal pone a disposición de los Usuarios y Usuarias dispositivos técnicos de enlace, directorios y motores de 
      búsqueda que permiten a los Usuarios y Usuarias acceder a sitios y páginas web pertenecientes a y/o gestionados por 
      terceros. La instalación de estos enlaces, directorios y motores de búsqueda en el Portal tiene por único objeto 
      facilitar a los Usuarios y Usuarias la búsqueda de contenidos y servicios disponibles en él, así como el acceso a la
      información. </p>

      <p>El establecimiento del enlace no implica la existencia de relación alguna entre BiblioRedes y el 
      propietario de la página web enlazada, como tampoco la aceptación y aprobación por parte de BiblioRedes de sus
      contenidos y/o servicios, siendo su propietario o propietaria el único responsable de los mismos.</p>
       
      <p>Debido a que Biblioredes no tiene control alguno sobre las páginas enlazadas a través de los vínculos que se
      incorporan en el Portal, el Usuario reconoce y acepta que BiblioRedes no asume responsabilidad alguna por el 
      contenido ni por los servicios a los que el Usuario pueda acceder en dichas páginas ni por cualquier contenido,
      productos, servicios, publicidad, ni cualquier otro material disponible en los mismos.</p>

    <div class="titleBiblio">15. Tráfico y almacenamiento de contenidos por usuarios y usuarias del portal</div>  

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    15.1. Confidencialidad de la información almacenada</div>
      
      <p>En la medida que la propia naturaleza del servicio así lo permita, BiblioRedes garantiza la confidencialidad de 
      la información almacenada en sus equipos. Sin perjuicio de lo anterior, el Usuario debe ser consciente de que 
      determinados servicios de almacenamiento son de acceso público.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    15.2. Acceso no autorizado de terceros</div>

      <p>Sin perjuicio de todo lo anterior, BiblioRedes no garantiza la privacidad y la seguridad en la utilización 
      de los servicios de comunicación, gestión y almacenamiento por parte de terceros no autorizados que accedan al 
      contenido eliminado o suprimiendo las medidas de seguridad adoptadas por BiblioRedes.</p> 
      
      <p> BiblioRedes en ningún caso será responsable por los daños y perjuicios de cualquier naturaleza que puedan 
      deberse al acceso y, en su caso, a la interceptación, eliminación, alteración, modificación o manipulación de 
      cualquier modo de los mensajes y comunicaciones de cualquier clase que terceros no autorizados realicen de los 
      contenidos de los Usuarios y Usuarias.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    15.3. Secreto de las comunicaciones</div>

      <p>Durante las transmisiones de datos, voz, imágenes o de cualquier otro contenido lícito transmitido a través de los recursos 
      puestos a disposición de los usuarios y usuarias, queda garantizada la confidencialidad de la información intercambiada entre los distintos
      Usuarios y Usuarias y/o almacenada en los equipos de BiblioRedes.</p>
       
      <p>Por consiguiente, BiblioRedes no controlará ni revelará el contenido de las comunicaciones entre Usuarios salvo que dicho control o 
      revelación: (a) sea impuesto por Ley; (b) sea solicitado por una autoridad competente durante el desarrollo de un procedimiento administrativo o 
      judicial, (c) se realice en cumplimiento de los Términos y Condiciones de Uso del Portal BiblioRedes, (d) para proteger los derechos de 
      propiedad de BiblioRedes y/o cualesquiera terceros, y/o (e) para identificar o resolver problemas técnicos y/o resolver quejas acerca del servicio.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    15.4. Obligación de control</div>

      <p>BiblioRedes no tiene obligación de controlar y no controla la utilización que los Usuarios hacen de los servicios y, por consiguiente, 
        no garantiza que los Usuarios utilicen los mismos de conformidad con lo establecido en los presentes o futuros Términos y Condiciones de 
        Uso que en su caso sean de aplicación, ni que hagan un uso diligente y/o prudente de los mismos. Asimismo, ni la Dirección de Bibliotecas, 
        Archivos y Museos, ni BiblioRedes tienen la obligación de verificar y no verifica la identidad de los Usuarios y Usuarias, ni la veracidad, 
        vigencia, exhaustividad y/o autenticidad de los datos que los Usuarios y Usuarias proporcionan sobre sí mismos.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    15.5. Conocimiento efectivo</div>
      
      <p>Sin perjuicio de ello, BiblioRedes se reserva la facultad de limitar, total o parcialmente, el acceso a los servicios a determinados 
      Usuarios y Usuarias, así como de cancelar, suspender, bloquear o eliminar determinado tipo de contenidos mediante la utilización de instrumentos
      tecnológicos aptos al efecto, si tuviese conocimiento efectivo de que la actividad o la información almacenada es ilícita o de que lesiona bienes 
      o derechos de un tercero.</p>

    <div class="titleBiblio">16. Usos prohibidos en servicios de publicación</div>  

      <p>El Usuario no podrá utilizar ninguna de las siguientes tecnologías:</p>
      
      <p>1. Robots araña (spiders), u otros aparatos automáticos o procesos manuales para monitorear o copiar las páginas o la información y materiales
      contenidos en el Portal sin el consentimiento previo otorgado por escrito por BiblioRedes.</p>      
      <p>2. Cualquier aparato, software o rutina para interferir o intentar interferir con la correcta y normal operación del Portal.</p>      
      <p>3. Reproducir, transmitir, distribuir, exhibir públicamente, presentar públicamente cualquier información y/o material contenido en el Portal, 
      sin el previo consentimiento por escrito de BiblioRedes y/o el consentimiento de cualquier tercero pertinente.</p>      
      <p>4. Retirar, manipular o utilizar los símbolos, señas y señales protegidos por las normas de derechos de autor, marca registrada o 
      cualquier otro aviso o publicación que se encuentre patentada y que se encuentren fijados en el Portal.</p>      
      <p>5. Revertir ingeniería, revertir recopilación, revertir montaje o de otra forma intentar revelar o duplicar para cualquier propósito 
      la metodología, el know-how, o los secretos comerciales que sostienen el Portal. </p>
      <p>6. Recoger o recolectar información acerca de usuarios de otros sitios sin su expreso reconocimiento</p>

    <div class="titleBiblio">17. Cancelación del acceso al portal </div>
      
      <p>BiblioRedes podrá, a su sola discreción, denegar, retirar, suspender y/o bloquear en cualquier momento y sin necesidad de previo 
      aviso el acceso a los contenidos o la prestación de los servicios a aquellos Usuarios y Usuarias que incumplan los Términos y Condiciones 
      de Uso que en su caso resulten de aplicación, pudiendo eliminar su Cuenta y toda la información y archivos relativos a la misma o, en su
      caso, denegarle el acceso a tales archivos o al propio servicio. Ni la Dirección de Bibliotecas, Archivos y Museos, ni BiblioRedes, 
      asumirán responsabilidad alguna frente a usuarios y usuarias o terceros por la cancelación del acceso al servicio.</p>

    <div class="titleBiblio">18. Régimen general de exclusión de garantías y de responsabilidad</div>   

      <p>BiblioRedes y por consiguiente la Dirección de Bibliotecas, Archivos y Museos no asume responsabilidad alguna por los contenidos 
      creados o remitidos por el Usuario, a través de los diferentes servicios del Portal. Todos los contenidos remitidos y/o almacenados en 
      el Portal por los Usuarios serán de la exclusiva responsabilidad de la persona que los haya generado. El Usuario, por tanto, es responsable
      de todos los contenidos y/o servicios que ponga a disposición de los demás Usuarios y Usuarias, exhiba, envíe por correo electrónico o de cualquier 
      manera transmita a través del Portal o de los medios puestos a disposición de éste en el mismo. </p>

      <p>BiblioRedes se reserva el derecho de eliminar, sin previo aviso, cualquier contenido que viole los Términos y Condiciones de uso tanto de los 
      servicios de publicación y del Portal, así como que vaya en contra de la línea editorial del Portal.</p> 

      <p>Las informaciones, conceptos y opiniones emitidas en los sitios creados utilizando nuestros servicios de publicación no necesariamente reflejan 
      la posición de BiblioRedes ni la de la Dirección de Bibliotecas, Archivos y Museos, sus empleados y directivos. Por esta razón, 
      ni BiblioRedes ni la Dirección de Bibliotecas, Archivos y Museos se hacen responsables por ninguna de las informaciones, opiniones y 
      conceptos que emitan los usuarios y usuarias a través del Portal.</p> 
        
      <p>Del mismo modo, BiblioRedes no se hace responsable por la edición,revisión y censura de la información, ni se compromete a verificar el 
      contenido de las páginas o sitios con los cuales el Usuario se conecte a través del motor de búsqueda. Por consiguiente, ni BiblioRedes ni 
      la Dirección de Bibliotecas, Archivos y Museos, sus directivos, empleados y personas afines se hacen responsables de la verificación del 
      cumplimiento de las normas que protegen los derechos de autor, de la legalidad o del contenido de las páginas a las que se tenga acceso a 
      través del motor de búsqueda. </p>
      
      <p>El Usuario acepta que ni BiblioRedes ni la Dirección de Bibliotecas, Archivos y Museos garantizan ni aseguran la veracidad de la información,
      el contenido, los artículos, la propaganda y los anuncios que aparezcan publicados o que sean distribuidos, directa o indirectamente a través del
      Portal, cualquier sitio web interconectado o cualesquiera de los servicios que se vinculen o relacionen con las publicaciones creadas, 
      a través de los servicios de publicación. Asimismo el Usuario acepta que ni BiblioRedes ni la Dirección de Bibliotecas, Archivos y Museos, 
      como tampoco sus directivos y empleados serán responsables por la entrega, la calidad, los vicios o cualquier otro defecto que pudiesen presentar 
      los productos, los servicios, la información u otros materiales expuestos, adquiridos u obtenidos como consecuencia de la información, 
      publicidad, invitaciones y ofertas que se hagan a través del Portal.</p> 
          
      <p>El Usuario se hace responsable de que las informaciones y/o contenidos guardados y/o publicados no infrinjan derechos de terceros 
      ni vulneren cualesquiera normativa. Los Usuarios y Usuarias asumen la obligación de mantener a la Dirección de Bibliotecas, Archivos 
      y Museos y a BiblioRedes o a sus representantes, indemnes y libres de toda responsabilidad que pudiera derivar del ejercicio de acciones, 
      judiciales o no, que tuvieran su causa en la trasgresión de los derechos de terceros o de la legislación vigente. </p>
            
      <p>A excepción de lo expresamente indicado en los presentes Términos y Condiciones de Uso, el Usuario reconoce y acepta expresamente
      que BiblioRedes no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los contenidos y/o servicios que se
      incorporan en el Portal, ni sobre el propio Portal. </p>
       
      <p>Asimismo, el Usuario es consciente de y acepta voluntariamente que el uso del Portal, de los contenidos y/o de los servicios tiene 
      lugar, en todo caso, bajo su única y exclusiva responsabilidad. Por tanto, y salvo que la Ley imponga expresamente lo contrario, y 
      exclusivamente con la medida y extensión en que lo imponga, BiblioRedes no garantiza ni asume responsabilidad alguna respecto del acceso y 
      uso del Portal y/o de los contenidos y/o servicios que en él se incorporen.</p>
      
      <p>Así pues, a título meramente enunciativo y no limitativo, la exoneración de responsabilidad y de garantías arriba 
      mencionadas comprende cualesquiera responsabilidades que se deriven de:</p> 
      
      <p>1. La disponibilidad y continuidad del funcionamiento del portal y, en particular, aunque no de modo exclusivo, que los usuarios puedan
      efectivamente utilizar el Portal, los contenidos y los servicios, acceder a las distintas páginas web que forman el Portal o a aquellas 
      desde las que se prestan los servicios. </p>
      <p>2. Los niveles de calidad, interoperatividad y funcionalidad del Portal, así como de los servicios y/o contenidos que incorpora. </p>
      <p>3. La interrupción, suspensión o cancelación del acceso al Portal y a los servicios y/o contenidos que incorpora. </p>
      <p>4. La adecuación para un propósito particular del Portal y de los servicios o contenidos incorporados en el mismo. </p>
      <p>5. El acceso no autorizado y la alteración de los datos almacenados y transmitidos a través del Portal o de los servicios que ofrece al respecto. </p>
      <p>6. La ausencia de virus u otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en
      los documentos electrónicos y ficheros almacenados en su sistema informático. </p>
      <p>7. La veracidad, licitud, exactitud, exhaustividad, actualidad, fiabilidad y utilidad de los contenidos, incluyendo la transmisión, difusión, 
      almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos, y en particular, aunque no de modo exclusivo, por los daños
      y perjuicios que puedan deberse;</p>

      <p style="margin-left: 14rem;">7.1 - Al incumplimiento de la ley, la moral y las buenas costumbres generalmente aceptadas o el orden público como consecuencia.</p>
      <p style="margin-left: 14rem;">7.2 - A la infracción de los derechos de propiedad intelectual e industrial, de los secretos empresariales, de compromisos contractuales 
      de cualquier clase, de los derechos al honor, a la intimidad personal y familiar y a la imagen de las personas, de los derechos de propiedad y 
      de toda otra naturaleza pertenecientes a un tercero como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, 
      recepción, obtención o acceso a los contenidos.</p>
      <p style="margin-left: 14rem;">7.3 - A la realización de actos de competencia desleal y publicidad ilícita.</p>
      <p style="margin-left: 14rem;">7.4 - Al incumplimiento, retraso en el cumplimiento, cumplimiento defectuoso o terminación por cualquier causa de las obligaciones 
      contraídas por terceros y contratos realizados con terceros a través de o con motivo del acceso a los contenidos.</p>
      <p style="margin-left: 14rem;">7.5 - Y a los vicios y defectos de toda clase de los contenidos transmitidos, difundidos, almacenados, puestos a disposición o de 
      otra forma transmitidos o puestos a disposición, recibidos, obtenidos o a los que se haya accedido a través del Portal o de los servicios.</p>  


    <div class="titleBiblio">19. Régimen particular de exclusión de garantías y de responsabilidad</div>    

      <p>BiblioRedes no garantiza la licitud, fiabilidad y utilidad de los servicios prestados por terceros a través de o en el Portal.</p>
      
      <p>BiblioRedes excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a los contenidos y/o servicios 
      prestados o suministrados por cualesquiera terceros ajenos a BiblioRedes y a la Dirección de Bibliotecas, Archivos y Museos.</p>
      
      <p>Biblioredes no tiene obligación de y no controla la utilización que los Usuarios hacen del Portal, de los contenidos y/o de los servicios. 
      En particular, BiblioRedes no garantiza que los Usuarios y Usuarias utilicen el Portal, los contenidos y/o servicios de conformidad con estos 
      Términos y Condiciones de Uso que resulten de aplicación, ni que lo hagan de forma diligente y prudente.</p>
      
      <p> El Usuario se obliga a indemnizar y a mantener indemnes a BiblioRedes y a la Dirección de Bibliotecas, Archivos y Museos, sus instituciones, 
      representantes, empleados y directivos, de las quejas o reclamaciones, incluidos los honorarios de abogados y/o procuradores, o de cualesquiera 
      terceros, derivadas del contenido que usted en su condición de Usuario envíe, exhiba o transmita a través del servicio, del uso que haga del 
      servicio, de su conexión al servicio, de la violación de las presentes condiciones o de cualquier derecho de terceros.</p>

    <div class="titleBiblio">20. Caso fortuito o fuerza mayor</div>


      <p>Sin perjuicio de lo anterior, ni BiblioRedes ni la Dirección de Bibliotecas, Archivos y Museos serán responsables de los retrasos o fallos
      que se produjeran en el acceso, funcionamiento y operatividad del Portal, de sus contenidos y/o servicios, así como tampoco de las interrupciones, 
      suspensiones o el mal funcionamiento del mismo, cuando tuvieren su origen en averías producidas por catástrofes naturales como terremotos,
      inundaciones, rayos o incendios, situaciones de fuerza mayor, situaciones de urgencia extrema tales como guerras, operaciones militares, 
      disturbios civiles, huelgas, cierres patronales o cualquier otra situación de fuerza mayor o caso fortuito.</p>

    <div class="titleBiblio">21. Datos de carácter personal</div>    

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    21.1. Consentimiento</div>
        
      <p>Para utilizar o tener acceso a alguno de los contenidos y/o servicios que se incorporen en el Portal, BiblioRedes podrá solicitarse a los 
      Usuarios y Usuarias la cumplimentación de ciertos formularios de registro que implican necesariamente el suministro de ciertos datos de carácter 
      personal. BiblioRedes tratará dichos datos de conformidad con los términos y condiciones publicados en su Política de Privacidad.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    21.2. Medidas de seguridad</div>
      
      <p>BiblioRedes ha adoptado y adoptará todas las medidas técnicas y organizativas de seguridad que sean de obligación, de conformidad con lo 
      establecido por la legislación vigente y los estándares de calidad existentes en el sector, a fin de garantizar al máximo la seguridad y 
      confidencialidad de las comunicaciones y las personas.</p> 
      
      <p>BiblioRedes garantiza que existen controles para prevenir la apertura de brechas en la seguridad u otras consecuencias negativas, adoptando 
      las medidas organizativas y los procedimientos técnicos más adecuados con el fin de minimizar estos riesgos.</p>
      
      <p>No obstante lo anterior, el Usuario reconoce y acepta que:</p>
      
      <p>i. Las medidas de seguridad en Internet no son inexpugnables.</p> 
      <p>ii. Las redes utilizadas en Internet no son seguras.</p> 
      <p>iii. Cualquier comunicación enviada por este medio puede ser interceptada o modificada por personas no autorizadas.</p>

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    21.3. Datos estadísticos</div>

      <p>Con la finalidad de adaptar y modificar el Portal, así como de desarrollar y ofrecer nuevos contenidos y/o servicios que se ajusten mejor 
      a las preferencias de sus Usuarios y Usuarias, BiblioRedes utilizará instrumentos o mecanismos tecnológicos que permitirán la obtención de datos 
      estadísticos.</p>
      
      <p>La información obtenida a través de dichos mecanismos no se asociará a ningún dato de carácter personal. El Usuario consiente y autoriza 
      expresamente a que BiblioRedes proceda a la obtención de dichos datos y realice su tratamiento con fines estadísticos.</p>

    <div class="titleBiblio">22. Derechos de propiedad, industrial y otros derechos</div>    

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    22.1. Regulación aplicable</div>
      
      <p>El Usuario reconoce la titularidad de BiblioRedes y la Dirección de Bibliotecas, Archivos y Museos respecto a todos sus derechos de propiedad 
      intelectual, industrial u otros derechos análogos sobre el Portal. A título enunciativo y no limitativo, se entenderán incluidos cualesquiera 
      informaciones, mensajes, gráficos, dibujos, archivos de sonido y/o imagen, fotografías, grabaciones, programas de ordenador ("Software"),
      bases de datos, tecnología, equipos informáticos, know-how, marcas, signos distintivos, logos y, en general, cualquier clase de creación o 
      material accesible a través del Portal que sea de su propiedad, así como el propio Portal.</p> 
         
      <p>Además, el Usuario reconoce y acepta que en el Portal se encuentran accesibles contenidos y servicios propiedad de terceras personas, cuyos 
      derechos se encuentran protegidos por la legislación aplicable en materia de propiedad intelectual, industrial, derechos de explotación del
      valor comercial y publicitario de la imagen y otros derechos análogos.</p> 

      <p>Tanto BiblioRedes, como la Dirección de Bibliotecas, Archivos y Museos están protegidos, sin limitación alguna, por las leyes 
      de propiedad intelectual e industrial de Chile.</p>  

    <div style="font-size: 1.313rem; font-family: Open Sans, sans-serif; font-weight: bold;margin-bottom: 1.25rem;">
    22.2. Licencia de la propiedad BiblioRedes</div>

      <p><b>No cesión/transferencia.-</b> El Usuario reconoce que en virtud de los presentes Términos y Condiciones de Uso BiblioRedes no cede ni 
      transfiere al Usuario ningún derecho sobre su Portal o sobre la de cualesquiera propiedades de terceras partes</p> 

      <p><b>Licencia de uso del Portal.-</b> BiblioRedes autoriza a los Usuarios y Usuarias a acceder y navegar en el Portal y a acceder y utilizar 
      los contenidos y/o servicios que allí se incorporen, siempre y cuando fuese para su uso estrictamente personal sin que pueda obtener 
      ventaja lucrativa o comercial alguna. En cualquier caso, la licencia de uso reconocida en el presente apartado no podrá ser, en ningún caso, 
      cedida o transferida a terceras partes.</p>

    <div class="titleBiblio">23. Procedimiento de notificación de infracciones</div>   
    
      <p>La Dirección de Bibliotecas, Archivos y Museos y BiblioRedes respetan y protegen la privacidad de sus usuarios, así como la propiedad
      intelectual de terceros, y solicitan el mismo respeto por parte de éstos. En el caso de que cualquier usuario o tercero considere que 
      existen hechos y/o circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de cualquier 
      actividad ilícita en las páginas web incluidas en o accesibles a través del Portal, o a través de los servicios allí prestados, deberá ponerse 
      en contacto con el Proyecto BiblioRedes, utilizando el servicio de Contáctenos del Portal.</p> 

    <div class="titleBiblio">24. Duración y terminación</div>

      <p>La relación jurídica derivada del acceso y la utilización del Portal, así como de los contenidos y/o servicios en él incorporados, 
      tiene una duración indefinida. Sin perjuicio de lo anterior, dicha relación se tendrá por terminada con carácter inmediato cuando 
      BiblioRedes publique nuevos Términos y Condiciones de Uso. El acceso y utilización del Portal implicará la plena adhesión y aceptación 
      de los nuevos términos y Condiciones de Uso y, consecuentemente, el inicio de una nueva relación jurídica. Asimismo cualquiera de las partes 
      podrá dar por terminada o suspender la presente relación contractual unilateralmente en cualquier momento y sin más causa que su voluntad en 
      tal sentido.</p>

    <div class="titleBiblio">25. Subcontratación</div>

      <p>BiblioRedes podrá contratar y/o subcontratar con terceros todo lo que estime oportuno en relación con la realización de cualesquiera o todas 
      las actividades necesarias para la gestión, mantenimiento, actualización y/o mejora del Portal. Dichas entidades podrían tener la 
      facultad de desactivar el Portal y, en consecuencia, interrumpir el acceso al mismo para realizar las tareas contratadas.</p>

    <div class="titleBiblio">26. Exhaustividad</div>  

      <p>Los pactos, cláusulas y condiciones que integran los presentes Términos y Condiciones de Uso constituyen la expresión formal y 
      definitiva de la declaración de voluntad de las partes, debiendo interpretarse los unos por los otros atribuyendo a los dudosos el 
      sentido que se derive del conjunto de todos. Cualesquiera documentos o declaraciones previos a la entrada en vigor de los presentes 
      Términos y Condiciones de Uso se considerarán definitivamente derogados.</p>

    <div class="titleBiblio">27. Renuncia</div>    

      <p>La renuncia por parte de BiblioRedes a ejercitar los derechos que le asistan en caso de incumplimiento de alguna cláusula 
      incorporada en los presentes Términos y Condiciones de Uso no será considerada como renuncia a ejercitarlos ante cualquier otro 
      incumplimiento tanto de la misma como de otra estipulación.</p>
    
    <div class="titleBiblio">28. Ley aplicable y jurisdicción competente</div>

      <p>Estos Términos y Condiciones de Uso se regirán por las leyes de Chile. El Usuario y BiblioRedes acuerdan someterse a la 
      jurisdicción exclusiva de los tribunales de justicia de la ciudad de Santiago de Chile, en relación con estos Términos y Condiciones.
      En el caso de que el Usuario tenga su domicilio fuera de Chile, se somete a los juzgados y tribunales de la Ciudad de Santiago de Chile.</p>
















































    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
