<footer>
	<div class="links-footer contendorFooter col-9 max-container px-0 m-auto">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 links-paginas-footer">
				<div class="subtitulo4">
					Menú
				</div>
				<ul>
					<li><a href="{{ url('<front>') }}">Inicio</a></li>
					<li><a href="{{ url('<front>') }}capacitaciones">Capacitaciones</a></li>
					<li><a href="{{ url('<front>') }}puntos-de-conexion">Puntos de Conexión</a></li>
					<li><a href="{{ url('<front>') }}multimedia">Multimedia</a></li>
					<li><a href="{{ url('<front>') }}estudios">Estudios</a></li>
					<li><a href="{{ url('<front>') }}noticias">Noticias</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 links-paginas-footer">
				<div class="subtitulo4">
					Programa BiblioRedes
				</div>
				<ul>
					<li><a href="{{ url('<front>') }}quienes-somos">Quienes somos</a></li>
					<li><a href="{{ url('<front>') }}areas-del-programa">Áreas del programa</a></li>
					<li><a href="{{ url('<front>') }}preguntas-frecuentes">Preguntas frecuentes</a></li>
					<li><a href="{{ url('<front>') }}terminos-y-condiciones">Términos y condiciones</a></li>
					<li><a href="{{ url('<front>') }}contact">Contacto</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 links-paginas-footer">
				<div class="subtitulo4">
					Sitios Externos
				</div>
				<ul>
					<li><a href="https://www.jovenesprogramadores.cl/">Jóvenes programadores</a></li>
					<li><a href="https://www.contenidoslocales.cl/">Contenidos locales</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-social-networks contendorFooter2 col-9 max-container px-0 m-auto">
		<div class="row justify-content-center">
			<div class="col-4 icon-social-network-footer">
				<a href="https://www.youtube.com/" target="_blank">
					<i class="fab fa-youtube"></i>
					<span class="d-md-inline">YOUTUBE</span>
				</a>
			</div>
			<div class="col-4 icon-social-network-footer">
				<a href="https://www.facebook.com/patrimoniochile/" target="_blank">
					<i class="fab fa-facebook-f"></i>
					<span class="d-md-inline">FACEBOOK</span>
				</a>
			</div>
			<div class="col-4 icon-social-network-footer">
				<a href="https://twitter.com/patrimonio_cl" target="_blank">
					<i class="fab fa-twitter"></i>
					<span class="d-md-inline">TWITTER</span>
				</a>
			</div>
		</div>
	</div>

	<div class="row contendorFooter2 col-9 max-container px-0 m-auto">
		<div class="footer-related-link d-flex align-items-center">
			<a href="#" target="_blank">
				<div class="d-flex align-items-center">Sitio Bibliotecas Públicas</div>
			</a>
		</div>
		<div class="footer-related-link d-flex align-items-center contendorfooterRed">
			<a href="#" target="_blank">
				<div class="d-flex align-items-center">Sistema Integral de Atención Ciudadana (SIAC)</div>
			</a>
		</div>
	</div>

	<div class="container-fluid footer-copy-rights">
		<div class="contendorFooter col-9 max-container px-0 m-auto">
			<div class="row" id="footer1">
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 contenedor-logo-footer justify-content-center">
				<img src="{{ url('<front>') }}/sites/default/files/2022-02/logo%20Ministerio.png" alt="Ministerio de las culturas, las artes y el patrimonio" class="img-fluid logo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 noPaddingMobile">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 texto-footer" id="texto-footer-1">
						Dirección: Libertador Bernardo O'Higgins 651, Santiago, Chile.<br>
						Tel: +56223605272 | E-mail: oirs@patrimoniocultural.gob.cl<br>
						<a href="https://www.google.com/maps/place/Av+Libertador+Bernardo+O'Higgins+651,+Santiago,+Regi%C3%B3n+Metropolitana/-33.4419759,-70.6479405,17z/data=!3m1!4b1!4m5!3m4!1s0x9662c59f7dc4b0f1:0x6c411f3a1e5d012!8m2!3d-33.4419759!4d-70.6457518" target="_blank">[ Ver mapa de navegación ]</a>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 texto-footer" id="texto-footer-2">
						<a href="https://www.patrimoniocultural.gob.cl/portal/Secciones/Quienes-somos/Atencion-Ciudadana/" target="_blank">Atención Ciudadana</a>
						|
						<a href="https://www.patrimoniocultural.gob.cl/portal/Contenido/Institucional/29742:TERMINOS-Y-CONDICIONES-DE-USO" target="_blank">Términos y Condiciones de Uso</a><br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="footer2">
					Servicio Nacional del Patrimonio Cultural
				</div>
			</div>
		</div>
	</div>
	<div id="ir-arriba">
		<div class="container">
			<a href="#main-header">
				<i class="fas fa-chevron-up ir-arriba" aria-hidden="true"></i>
			</a>
		</div>
	</div>

</footer>
