{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{%
  set classes = [
    'col-lg-9 col-md-12 col-sm-12 col-xs-12 ',
  ]
%}

<div{{attributes.addClass(classes)}}>
	{{ title_prefix }}
	{{ title_suffix }}

	{% block content %}
		<div class="row">
			{% if site_logo %}
				<div class="col-xl-4 col-lg-5 col-md-6 col-5 p-xl-0">
					<a href="{{ path('<front>') }}" rel="home" class="text-decoration-none">
						<img src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
					</a>
				</div>
			{% endif %}

			{% if site_name %}
			    
				<div class="col-xl-6 col-lg-6 p-lg-4 p-md-3 col-md-6 col-6">
					<span class='header-logo-text'>Quinsac. Estudios razonados de arte y coleccionismo</span>
				</div>
			
			{% endif %}
			{{ site_slogan }}
		</div>
	{% endblock %}
</div>
