<footer>
	<div class="links-footer contendorFooter col-9 max-container px-0 m-auto">
		<div class="row pb-4">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 links-paginas-footer">
				<div class="subtitulo4">
					Quienes somos
				</div>
				<ul>
					<li><a href="{{ url('<front>') }}">Sobre el proyecto</a></li>
					<li><a href="{{ url('<front>') }}capacitaciones">Catálogos razonados</a></li>

				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 links-paginas-footer">
				<div class="subtitulo4">
					Instituciones socias
				</div>
				<ul>
					<li><a href="{{ url('<front>') }}quienes-somos">Centro Nacional de Restauración y Conservación</a></li>
					<li><a href="{{ url('<front>') }}areas-del-programa">Programa BiblioRedes</a></li>
					<li><a href="{{ url('<front>') }}preguntas-frecuentes">Centro de Documentación de Bienes Patrimoniales</a></li>
					<li><a href="{{ url('<front>') }}terminos-y-condiciones">Coordinación de Políticas Digitales</a></li>
				</ul>
			</div>
			
		</div>
	</div>

	<div class="footer-social-networks contendorFooter2 mb-5 col-9 max-container px-0 m-auto">
		<div class="row justify-content-center">
			<div class="col-4 icon-social-network-footer">
				<a href="https://www.youtube.com/" target="_blank">
					<i class="fab fa-youtube"></i>
					<span class="d-md-inline">YOUTUBE</span>
				</a>
			</div>
			<div class="col-4 icon-social-network-footer">
				<a href="https://www.facebook.com/patrimoniochile/" target="_blank">
					<i class="fab fa-facebook-f"></i>
					<span class="d-md-inline">FACEBOOK</span>
				</a>
			</div>
			<div class="col-4 icon-social-network-footer">
				<a href="https://twitter.com/patrimonio_cl" target="_blank">
					<i class="fab fa-twitter"></i>
					<span class="d-md-inline">TWITTER</span>
				</a>
			</div>
		</div>
	</div>

	

	<div class="container-fluid footer-copy-rights">
		<div class="contendorFooter col-9 max-container px-0 m-auto">
			<div class="row" id="footer1">
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 contenedor-logo-footer justify-content-center">
				<img src="{{ url('<front>') }}/sites/default/files/2022-02/logo%20Ministerio.png" alt="Ministerio de las culturas, las artes y el patrimonio" class="img-fluid logo">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 noPaddingMobile">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 texto-footer" id="texto-footer-1">
						Dirección: José Miguel de la Barra 650, Santiago, Chile.<br>
						Tel: + 56 22997 8700 | E-mail: comunicaciones@mnba.gob.cl<br>
						<a href="https://www.google.com/maps/place/Av+Libertador+Bernardo+O'Higgins+651,+Santiago,+Regi%C3%B3n+Metropolitana/-33.4419759,-70.6479405,17z/data=!3m1!4b1!4m5!3m4!1s0x9662c59f7dc4b0f1:0x6c411f3a1e5d012!8m2!3d-33.4419759!4d-70.6457518" target="_blank">[ Ver mapa de navegación ]</a>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 texto-footer" id="texto-footer-2">
						<a href="https://www.patrimoniocultural.gob.cl/portal/Secciones/Quienes-somos/Atencion-Ciudadana/" target="_blank">Atención Ciudadana</a>
						|
						<a href="https://www.patrimoniocultural.gob.cl/portal/Contenido/Institucional/29742:TERMINOS-Y-CONDICIONES-DE-USO" target="_blank">Términos y Condiciones de Uso</a><br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="footer2">
					Servicio Nacional del Patrimonio Cultural
				</div>
			</div>
		</div>
	</div>
	<div id="ir-arriba">
		<div class="container">
			<a href="#main-header">
				<i class="fas fa-chevron-up ir-arriba" aria-hidden="true"></i>
			</a>
		</div>
	</div>

</footer>
