<div>
	{{ page.header }}
	{{ page.primary_menu }}
</div>
<div class="col-12 imgIndex">
	<img src="{{ url('<front>') }}/sites/default/files/2022-03/portada.png">
</div>
<div class="whiteArea">
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row">
			<div class="col-12">
				<h2>¿Qué es Quinsac?</h2>
				<p>Es una plataforma digital que busca potenciar los estudios monográficos de artistas y las prácticas del coleccionismo de arte en los siglos XIX y XX. Quinsac reúne y sistematiza distintas capas de información que permiten la construcción de catálogos razonados, como una manera de fortalecer la puesta en valor de artistas, la formación de colecciones públicas y privadas y fomentar el acceso de las distintas comunidades interesadas en la historia del arte, la conservación/restauración y las humanidades en general.</p>
					
				<div class='linkItem'style="margin-bottom: 2.813rem; margin-top: 2.813rem; ">
					<a href="sobre-proyecto" style="text-decoration:none; color:black; font-weight: bold; font-size:18px">Ve más
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
				</div>	
			</div>
			
			<form action="obras" method="get">
				<div class="row">
					<div class="col-lg-9">
						<input class='inputText' type='text' name='busquedaIndex' placeholder='Ingresa palabra o término…'>
					</div>
					<div class="col-lg-3">
						<input type='submit' class='btn button btnBuscar more-link'>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>
<div class='greyArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row">
			<h1>¿Qué puedes encontrar aquí?</h2>

			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Fichas razonadas</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-copy"></i>
					<span>Información básica de catalogación e identificación de las obras, así como también una investigación especializada de cada una de las piezas.</span>
				</div>
			</div>
			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Imágenes ampliadas</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-image"></i>
					<span>Contamos con un banco de imágenes especializado que permite acceder a cada una de las obras   en gran detalle.</span>
				</div>
			</div>
			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Publicaciones</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-book"></i>
					<span>Puedes encontrar un repositorio bibliográfico digital dedicado a cada uno de los catálogos razonados y artistas que conforman la base de datos.</span>
				</div>
			</div>

			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Cronografía</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-history"></i>
					<span>Esta herramienta/utilidad permite poner en contexto obras, exposiciones e hitos históricos relevantes que ayuden a mirar cada uno de los catálogos razonados. </span>
				</div>
			</div>
			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Contenido multimedia</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-photo-video"></i>
					<span>Material complementario en formato audiovisual de actividades o acciones realizadas como parte de las investigaciones, tales como conversatorios, simposios, transmisiones a través de canales digitales, entre otros.</span>
				</div>
			</div>
			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Geolocalización</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-map-marker-alt"></i>
					<span>Esta aplicación permite georreferenciar y visualizar las obras y su en los distintos territorios y en diversos niveles: local, regional, nacional e internacional. </span>
				</div>
			</div>
		</div>
	</div>
</div>

{{ page.content }}

<div>
	{{ page.footer }}
</div>
