<div>
	{{ page.header }}
	{{ page.primary_menu }}
</div>
<div class="col-12 imgIndex">
	<img src="{{ url('<front>') }}/sites/default/files/2022-03/portada.png">
</div>
<div class="whiteArea">
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row">
			<div class="col-12">
				<h2>¿Qué es Quinsac?</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			</div>
			<form action="/obras" method="get">
				<div class="row">
					<div class="col-lg-9">
						<input class='inputText' type='text' name='busquedaIndex' placeholder='Ingresa palabra o término…'>
					</div>
					<div class="col-lg-3">
						<input type='submit' class='btn button btnBuscar more-link'>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class='greyArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row">
			<h1>¿Qué puedes encontrar aquí?</h2>

			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Fichas razonadas</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-copy"></i>
					<span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</span>
				</div>
			</div>
			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Imágenes ampliadas</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-image"></i>
					<span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</span>
				</div>
			</div>
			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Publicaciones</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-book"></i>
					<span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</span>
				</div>
			</div>

			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Cronografía</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-history"></i>
					<span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</span>
				</div>
			</div>
			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Contenido multimedia</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-photo-video"></i>
					<span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</span>
				</div>
			</div>
			<div class='indexEncontrar col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class='titleIndexEncontrar'>Geolocalización</div>
				<div class="col-xs-12 divEncontrar">
					<i class="fas fa-map-marker-alt"></i>
					<span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</span>
				</div>
			</div>
		</div>
	</div>
</div>

{{ page.content }}

<div>
	{{ page.footer }}
</div>
