{% if links.idCatalogo != "null" %}
	<div class='whiteArea pb-0'>
			{% if links.ActualPage == "null" %}	
				<a href="/vpm/">Inicio</a>
				/	<a href="{{ links.Portada }}">Portada</a>
			{% endif %}

			{% if links.ActualPage == "Art" %}
				<a href="/vpm/">Inicio</a>
				/ <a href="{{ links.Portada }}">Portada</a> 
				/ <a href="{{ links.Artistas }}">Artistas</a>
			{% endif %}

			{% if links.ActualPage == "Obras" %}
				<a href="/vpm/">Inicio</a>
				/ <a href="{{ links.Portada }}">Portada</a> 
				/ <a href="{{ links.Artistas }}">Artistas</a>
				/ <a href="{{ links.Obras }}">Obras</a>
			{% endif %}

			{% if links.ActualPage == "Publ" %}
				<a href="/vpm/">Inicio</a>
				/ <a href="{{ links.Portada }}">Portada</a> 
				/ <a href="{{ links.Artistas }}">Artistas</a>
				/ <a href="{{ links.Obras }}">Obras</a>
				/ <a href="{{ links.Publicaciones }}">Publicaciones</a>
			{% endif %}

			{% if links.ActualPage == "Cron" %}				
				<a href="/vpm/">Inicio</a>
				/ <a href="{{ links.Portada }}">Portada</a> 
				/ <a href="{{ links.Artistas }}">Artistas</a>
				/ <a href="{{ links.Obras }}">Obras</a>
				/ <a href="{{ links.Publicaciones }}">Publicaciones</a>
				/ <a href="{{ links.Cronografia }}">Cronografía</a>		
			{% endif %}

			{% if links.ActualPage == "Sobr" %}				
				<a href="/vpm/">Inicio</a>
				/ <a href="{{ links.Portada }}">Portada</a> 
				/ <a href="{{ links.Artistas }}">Artistas</a>
				/ <a href="{{ links.Obras }}">Obras</a>
				/ <a href="{{ links.Publicaciones }}">Publicaciones</a>
				/ <a href="{{ links.Cronografia }}">Cronografía</a>
				/ <a href="{{ links.SobreInvestigacion }}">Sobre la investigación</a>			
			{% endif %}
	{% endif %}
