{{ page.content }}
<div class='whiteArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row ">
			<div class='col-12'>
				<h1>Sobre la investigación</h1>
			</div>
			<div class='col-12 '>
				<div class='descItem pt-0 pb-5'>

					<p>El proyecto de investigación Monvoisin en América: Catalogación razonada de Raymond Quinsac Monvoisin y sus discípulos es un proyecto de investigación internacional iniciado el año 2017, y se centra en la catalogación y estudio de la obra del artista Raymond Quinsac Monvoisin (1790-1870) que se produjo o que actualmente se encuentra en el continente americano, así como de la producción realizada al interior del taller con participación de artistas como la francesa Clara Filleul (1822-1878), el argentino Gregorio Torres (1819-1879) y el chileno Francisco Javier Mandiola (1820-1900), entre otros.
					</p>
					<p>Monvoisin, originario de la ciudad de Burdeos, tras ser invitado por el gobierno chileno para formar la academia de pintura –proyecto que se concreta años después bajo el alero del italiano Alessandro Cicarelli-, llegó a América en 1842 a la edad de 52 años pasando por Uruguay y Argentina. En enero de 1843 llega a Chile tras un largo viaje terrestre desde Buenos Aires, ocasión que aprovecha para realizar una significativa exposición de sus pinturas traídas de París en las dependencias de la antigua Universidad de San Felipe. El artista viaja acompañado de Clara Filleul, de tan solo 22 años, quien se convertiría en su principal socia en el taller de producción artística viajando juntos brevemente al Perú. Otro de sus viajes significativos fue hacia 1847 por Río de Janeiro en Brasil, ocasión en la que ambos artistas participan de la Exposición General de Bellas Artes.
					</p>
					<p>Pasó la mayor parte de su tiempo en territorio chileno donde vivió durante unos diez años, mientras que sus visitas a los otros países tuvieron unos pocos meses de duración. En Chile incorpora a su taller a Gregorio Torres, un joven mendocino afrodescendiente que luego cumpliría funciones de inspector en la academia instalada en el colegio de Manuela Cabezón Rodríguez, y Francisco Javier Mandiola, uno de sus discípulos más importantes.</p>
					<p>Aunque la producción artística de Monvoisin está dominada por una gran cantidad de retratos que representan a los miembros de la alta sociedad del Cono Sur americano, pintó también paisajes, escenas de género, pintura de historia y religiosa. Todos ellos temas de gran interés no sólo para la pintura y el mercado del arte de la época, sino que también para el estudio de la historia del arte y de la cultura en la actualidad.</p>
					<p>Este proyecto no pretende reconstruir la biografía de Raymond Monvoisin, estudiada y escrita por diversos autores tal como David James, quien publicaría su libro Monvoisin en 1949, sino que poner énfasis en diversos aspectos de la obra y la práctica artística de Monvoisin y su taller en todo el continente. Entre ellos, los problemas de la circulación de sus imágenes, la materialidad de sus obras, la construcción de imaginarios subalternos, así como la cuestión del mercado de arte y coleccionismo del período, que se analizan a través de una óptica transnacional en América del Sur, proponiendo así una perspectiva regional latinoamericana sobre la propia producción artística. Por ello, el objetivo central de esta investigación es realizar un catálogo razonado de la obra de Raymond Quinsac Monvoisin, entendiéndolo no meramente como un listado de obras, sino que especialmente como un instrumento para la generación de conocimiento. Es por esto que el catastro, registro, documentación y estudio químico/material de las obras -en cuanto imagen y objeto material- conforman la metodología requerida para un estudio de estas características. Asimismo, la investigación busca articular complejamente la figura del pintor y las prácticas del discipulaje o taller artístico en América, estudiando la vida y obra de su círculo más cercano: Clara Filleul, Franklin Rawson, Gregorio Torres, Procesa Sarmiento y Francisco Javier Mandiola.</p>
					<p>La coordinación regional del proyecto está a cargo del Museo Provincial de Bellas Artes Franklin Rawson (San Juan, Argentina) y el Museo Nacional de Bellas Artes (Santiago de Chile). Los centros de conservación y restauración de Santiago (CNCR) y Buenos Aires (TAREA), en tanto, asumen la tarea de coordinación e investigación científica de las obras. Colaboran en la investigación histórica, social y cultural, el Museo de Arte de Lima (Perú), la Pinacoteca de São Paulo (Brasil) y las instituciones chilenas Museo Histórico Nacional, Universidad Adolfo Ibáñez y la Universidad de Playa Ancha.</p>


				</div>
			</div>
			<div class='col-12 row'>
				<h2 class="pb-3">Equipo</h2>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">

					<h3 class="">Roberto Amigo Cerisola</h3>
					<div class='rolPersona'>Coordinador general</div>
					<div class='nombreInstitucion'>Museo Provincial de Bellas Artes Franklin Rawson</div>
					<div class='correoPersona'>
						<a href='#'>amigorba@gmail.com<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>

				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Gloria Cortés Aliaga</h3>
					<div class='rolPersona'>Coordinadora en Chile</div>
					<div class='nombreInstitucion'>Museo Nacional de Bellas Artes</div>
					<div class='correoPersona'>
						<a href='#'>gloria.cortes@mnba.gob.cl<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Carolina Ossa Izquierdo</h3>
					<div class='rolPersona'>Coordinadora de Estudios Técnicos</div>
					<div class='nombreInstitucion'>Centro Nacional de Conservación y Restauración</div>
					<div class='correoPersona'>
						<a href='#'>carolina.ossa@patrimoniocultural.gob.cl<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">

					<h3 class="">Marcela Drien Fábregas</h3>
					<div class='rolPersona'>Coordinadora del catastro de obras privadas (Chile)</div>
					<div class='nombreInstitucion'>Centro de Estudios del Patrimonio de la Universidad Adolfo Ibáñez</div>
					<div class='correoPersona'>
						<a href='#'>mdrien@uai.cl<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>

				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Jaime Cuevas Pérez</h3>
					<div class='rolPersona'>Investigador y Coordinador base de datos Quinsac</div>
					<div class='nombreInstitucion'>Museo Nacional de Bellas Artes</div>
					<div class='correoPersona'>
						<a href='#'>jaime.cuevas@mnba.gob.cl</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Emanuel Díaz Ruíz
					</h3>
					<div class='rolPersona'>Investigador</div>
					<div class='nombreInstitucion'>Museo Provincial de Bellas Artes Franklin Rawson</div>
					<div class='correoPersona'>
						<a href='#'></a>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">

					<h3 class="">Valeria Piccoli</h3>
					<div class='rolPersona'>Investigadora</div>
					<div class='nombreInstitucion'>Pinacoteca de São Paulo</div>
					<div class='correoPersona'>
						<a href='#'>vpiccoli@pinacoteca.org.br<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>

				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Fernanda Pitta</h3>
					<div class='rolPersona'>Investigadora</div>
					<div class='nombreInstitucion'>Pinacoteca de São Paulo</div>
					<div class='correoPersona'>
						<a href='#'>fpitta@pinacoteca.org.br<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
					</div>
				</div>


				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Ricardo Kusunoki
					</h3>
					<div class='rolPersona'>Investigador</div>
					<div class='nombreInstitucion'>Museo de Arte de Lima</div>
					<div class='correoPersona'>
						<a href='#'></a>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Alberto Sánchez</h3>
					<div class='rolPersona'>Investigador</div>
					<div class='nombreInstitucion'>Museo Provincial de Bellas Artes Franklin Rawson</div>
					<div class='correoPersona'>
						<a href='#'></a>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-5">
					<h3 class="">Juan Manuel Martínez
					</h3>
					<div class='rolPersona'>Investigador</div>
					<div class='nombreInstitucion'>Centro Nacional de Conservación y Restauración</div>
					<div class='correoPersona'>
						<a href='#'></a>
					</div>
				</div>


				<h2 class="pb-3 pt-5">Historia</h2>
				<div class='descItem pt-0 pb-5'>
					<p>El proyecto de investigación Monvoisin en América: Catalogación razonada de Raymond Quinsac Monvoisin y sus discípulos es un proyecto de investigación internacional iniciado el año 2017, y se centra en la catalogación y estudio de la obra del artista Raymond Monvoisin (1790-1870) que se produjo o que actualmente se encuentra en el continente americano.</p>
					<p>El pintor francés, originario de la ciudad de Burdeos, llegó a América en 1842 visitando Brasil, Argentina y Uruguay; finalmente en 1843, Chile y, posteriormente, Perú. Pasó la mayor parte de su tiempo en territorio chileno, donde vivió durante unos diez años, mientras que sus visitas a los otros países tuvieron unos pocos meses de duración. Aunque la producción artística de Monvoisin está dominada por una gran cantidad de retratos que representan a los miembros de la alta sociedad de América del Sur, pintó también paisajes, escenas de género, pintura de historia y religiosa.
					</p>
					<p>Este proyecto propone una perspectiva regional latinoamericana sobre su producción artística y se centra en diversos aspectos de la presencia de Monvoisin en todo el continente, tales como los problemas de la circulación de sus imágenes, la materialidad de sus obras, sujetos subalternos y el mercado de arte y coleccionismo del período, que se analizan a través de una óptica transnacional e interregional en América del Sur.</p>
					<p>Por lo anterior, el objetivo central de esta investigación es realizar un catálogo razonado de la obra de Raymond Quinsac Monvoisin, entendiéndolo no meramente como un listado de obras, sino que especialmente como un instrumento para la generación de conocimiento. Es por esto que el catastro, registro, documentación y estudio químico/material de las obras -en cuanto imagen y objeto material- conforman la metodología requerida para un estudio de estas características. Asimismo, la investigación busca articular complejamente la figura del pintor y las prácticas del discipulaje o taller artístico en América, estudiando la vida y obra de su círculo más cercano: Clara Filleul, Franklin Rawson, Gregorio Torres, Procesa Sarmiento y Francisco Javier Mandiola.</p>
					<p>La coordinación regional del proyecto está a cargo del Museo Provincial de Bellas Artes Franklin Rawson (San Juan, Argentina) y el Museo Nacional de Bellas Artes (Santiago de Chile). Los centros de conservación y restauración de Santiago (CNCR) y Buenos Aires (TAREA), en tanto, asumen la tarea de coordinación e investigación científica de las obras. Colaboran en la investigación histórica, social y cultural, el Museo de Arte de Lima (Perú), la Pinacoteca de São Paulo (Brasil) y las instituciones chilenas Museo Histórico Nacional, Universidad Adolfo Ibáñez y la Universidad de Playa Ancha.</p>
				</div>

				<h2 class="pb-2 pt-5">Organizan</h2>
				<div class="main-contentSlider " id="main-contentGaleriaMini2">
					<div class="owl-carousel owl-theme " id="carouselGaleriaMini2">

						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/Logo_MCAP_bn.jpg'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/logo%20MNBA%20alta.jpg'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-04/cncrlogo.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/Logo_Universidad_Adolfo_Ibáñez.jpg'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/logo%20museo%20mpba.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/gbsanjuan.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/tarealogo.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/logo_UNSAM_Transparente-01.png'>
						</div>
					</div>
					<div class="owl-theme">
						<div class="owl-controls">
							<div class="owl-nav custom-nav " id='custom-navMini2'></div>
						</div>
					</div>
				</div>

				<h2 class="pb-2 pt-5 mt-5">Participan</h2>
				<div class="main-contentSlider " id="main-contentGaleriaMini">
					<div class="owl-carousel owl-theme " id="carouselGaleriaMini">
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/Logo%20-%20MALI.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/pinacoteca.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/saopaulo.png'>
						</div>
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/mhn.png'>
						</div>

						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-04/udpa.png'>
						</div>
					</div>
					<div class="owl-theme">
						<div class="owl-controls">
							<div class="owl-nav custom-nav " id='custom-navMini'></div>
						</div>
					</div>
				</div>

				<h2 class="pb-2 pt-5 mt-5">Auspicia</h2>
				<div class="main-contentSlider " id="main-contentGaleriaMini1">
					<div class="owl-carousel owl-theme " id="carouselGaleriaMini1">

						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-04/leon.png'>
						</div>

					</div>
					<div class="owl-theme">
						<div class="owl-controls">
							<div class="owl-nav custom-nav " id='custom-navMini1'></div>
						</div>
					</div>
				</div>

				<h2 class="pb-2 pt-5 mt-5 mb-5">Colabora</h2>
				<div class="main-contentSlider " id="main-contentGaleriaMini3">
					<div class="owl-carousel owl-theme " id="carouselGaleriaMini3">
						<div class="item sliderGaleria imagenSlider2">
							<img src='{{ url('<front>') }}/sites/default/files/2022-06/ismael.png'>
						</div>
					</div>
					<div class="owl-theme">
						<div class="owl-controls">
							<div class="owl-nav custom-nav " id='custom-navMini3'></div>
						</div>
					</div>
				</div>


			</div>


		</div>
	</div>
</div>
