<div class='whiteArea'>

	<div class="col-9 max-container px-0 m-auto ">

		<div class="tituloFicha col-12">Ficha razonada:
			{{obra.infoObra["titulo"]}}
		</div>
		<div class="divSepFicha">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 imgFicha">
					<!--<img src='http://quinsac.patrimoniocultural.gob.cl/sites/default/files/Portada_recorte.jpg'>-->
					<div class='imgItem'><img src='{{obra.infoObra["urlImagen"]}}'></div>
					<input type='hidden' value='{{obra.infoObra["urlImagen"]}}' id='urlImg'>
					

				</div>
				<div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
					<div class="divSepFicha pt-0">
						<a href="#">
							<div class="buttonDescargaFicha">
								<i class="fa fa-download" aria-hidden="true"></i>
								Descarga la ficha razonada</div>
						</a>
					</div>
					<div class="divSepFicha">
						<div class="tituloObraFicha">{{obra.infoObra["titulo"]}}</div>
						<div class="descObraFicha">{{obra.infoObra["tecnica"]}}
							sobre
							{{obra.infoObra["soporte"]}},
							{{obra.infoObra["alto"]}}
							x
							{{obra.infoObra["ancho"]}}</div>
						<div class="descObraFicha">{{obra.infoObra["autoria"]}}</div>
					</div>
					<div class="divSepFicha">
						<div class="subTextoObraFicha">Inscripciones</div>
						<div class="descObraFicha">{{obra.infoObra["tipoInscripcion"]}}
							{{obra.infoObra["ubicacionInscripcion"]}}
							{{obra.infoObra["transInscripcion"]}}</div>
					</div>
					<div class="divSepFicha">
						<div class="subTextoObraFicha">Procedencia</div>
						{% for obj in obra.propiedadesObra %}
							<div class="descObraFicha">{{ obj.nombrePropietarioObra }},
								{{ obj.ciudadAquisicionObra }},
								{{ obj.fechaAquisicionObra }}</div>
						{% endfor %}
					</div>
					<div class="pt-4">
						<div class="subTextoObraFicha">Exhibiciones</div>
						<div class="descObraFicha">
							<ul>
								{% for obj in obra.exhibicionesObra %}
								<li>{{ obj.tituloExhibicion }}, {{ obj.institucionExhibicion }}, {{ obj.ciudadExhibicion }}, {{ obj.anoExhibicion }}</li>	
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="divSepFicha">
			<div class="colSepDosFicha descObraFicha">
				{{obra.infoObra["textoRazonado"]}}
			</div>
			<div class="firmaObraFicha">
				
			</div>
		</div>
		<div class="divSepFicha">
			<h2> Explora la obra </h2>
			<div class="wrapper">
            <div id="viewer" class="viewer"></div>
        </div>
		</div>
	</div>
</div>
