
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>

<div class='whiteArea pb-0'>
	<div class="col-9 max-container px-0 m-auto row menuBreadcrum ">
		<div class="col-12 col-md-6 col-sm-12 col-xs-12 ">
            <a href="/" class="menuBreadcrum_link" >Inicio /</a>
            <a href="/quinsac-en-cifras" style="color: #bbb;">Quinsac en cifras</a>
		</div>
	</div>
</div>

<div class='whiteArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class='col-12'>
			<h1>Quinsac en cifras</h1>
			<p>Aquí podrás acceder a distintas estadísticas cuantitativas sobre todas y cada una de las obras que componen Quinsac, permitiendo visualizar grandes núcleos de información tales como: número de obras por temática, años de ejecución, técnicas, lugar de ejecución o materialidad. Quinsac en cifras continuará creciendo con cada nuevo catálogo razonado, lo que permitirá trazar visiones panorámicas sobre la producción artística en Chile y la región.</p>
            
            <form action="" method="get">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-4">
                    <div class="InfoTitulo1 pb-1">Coordenada Y</div>
                    <select class="inputSelect" name="cY" id="cY">
                        <option value="0">Selecciona</option>
                        {% for obj in cY.variable %}
                            {% if cY.selected == obj.idcY %}
                                <option selected value="{{ obj.idcY }}">{{ obj.cY }}</option>
                            {% else %}
                                <option value="{{ obj.idcY }}">{{ obj.cY }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>  
                </div>



            <h2 class="pb-3">Filtra las estadísticas</h2>     

                <div class="row">                 
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb">
                        <div class="InfoTitulo1 pb-1">Géneros pictóricos</div>                
                        <select class="inputSelect" name="tematica" id="tematica">
                            <option value="0">Selecciona</option>
                            {% for obj in tematica %}
                                {% if obj.selected == true %}
                                    <option selected value="{{ obj.idTematica }}">{{ obj.tematica }}</option>
                                {% else %}
                                    <option value="{{ obj.idTematica }}">{{ obj.tematica }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>                
                    </div>
            
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="InfoTitulo1 pb-1">Artista</div>
                        <select class="inputSelect" name="artista" id="artista">
                            <option value="0">Selecciona</option>
                            {% for obj in artista %}
                                {% if obj.selected == true %}
                                    <option selected value="{{ obj.autorId }}">{{ obj.autor }}</option>
                                {% else %}
                                    <option value="{{ obj.autorId }}">{{ obj.autor }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>                
                    </div>
            
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-3">
                        <div class="InfoTitulo1 pb-1">Año</div>
                        <select class="inputSelect" name="ano" id="ano">
                            <option value="0">Selecciona</option>
                            {% for obj in annio %}
                                {% if obj.selected == true %}
                                    <option selected value="{{ obj.idfecEjec }}">{{ obj.fecEjec }}</option>
                                {% else %}
                                    <option value="{{ obj.idfecEjec }}">{{ obj.fecEjec }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
            
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-3">
                        <div class="InfoTitulo1 pb-1">Técnica</div>
                        <select class="inputSelect" name="tecnica" id="tecnica">
                            <option value="0">Selecciona</option>
                            {% for obj in tecnica %}
                                {% if obj.selected == true %}
                                    <option selected value="{{ obj.idTecnica }}">{{ obj.tecnica }}</option>
                                {% else %}
                                    <option value="{{ obj.idTecnica }}">{{ obj.tecnica }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-3">
                        <div class="InfoTitulo1 pb-1">Etnia o raza</div>
                        <select class="inputSelect" name="etnia" id="etnia">
                            <option value="0">Selecciona</option>
                            {% for obj in etnia %}
                                {% if obj.selected == true %}
                                    <option selected value="{{ obj.idEtnia }}">{{ obj.Etnia }}</option>
                                {% else %}
                                    <option value="{{ obj.idEtnia }}">{{ obj.Etnia }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-3">
                        <div class="InfoTitulo1 pb-1">País</div>
                        <select class="inputSelect" name="pais" id="pais">
                            <option value="0">Selecciona</option>
                            {% for obj in pais %}
                                {% if obj.selected == true %}
                                    <option selected value="{{ obj.idPais }}">{{ obj.Pais }}</option>
                                {% else %}
                                    <option value="{{ obj.idPais }}">{{ obj.Pais }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-3">
                        <div class="InfoTitulo1 pb-1">Actividad o profesión</div>
                        <select class="inputSelect" name="actProf" id="actProf">
                            <option value="0">Selecciona</option>
                            {% for obj in actProf %}
                                {% if obj.selected == true %}
                                    <option selected value="{{ obj.idactProf }}">{{ obj.ActProf }}</option>
                                {% else %}
                                    <option value="{{ obj.idactProf }}">{{ obj.ActProf }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-3">
                        <div class="InfoTitulo1 pb-1">Sexo</div>
                        <select class="inputSelect" name="genero" id="genero">
                            <option value="0">Selecciona</option>
                            {% for obj in genero %}
                                {% if obj.selected == true %}
                                    <option selected value="{{ obj.idGenero }}">{{ obj.Genero }}</option>
                                {% else %}
                                    <option value="{{ obj.idGenero }}">{{ obj.Genero }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-3">
                        <div class="InfoTitulo1 pb-4-5"></div>
                        <input type='submit' class='btnGenera button btnBuscarGenera more-link' value="Genera">
                    </div>
                </div>
            </form>

      <br>
      <h2 class="pb-3">Estadísticas generadas</h2>
      <div class="InfoTitulo1 pb-1">Tipo de gráfico</div>
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <select class="inputSelect" name="chartType" id="chartType" >
          <option value="bar">Barra</option>
          <option value="line">Linea</option>
          <option value="pie">Torta</option>
          <option value="radar">Radar</option>
          <option value="horizontalBar">Horizontal Barra</option>
        </select>  
      </div>   
    </div>
	 <br/>
   <div class="row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <input type='button' class='btn4 button btnBuscarFiltroExportar more-link' id="exportPDF" Value="Exporta en PDF">
        </div>
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
          <input type='button' class='btn4 button btnBuscarFiltroExportar more-link' id="exportExcel" Value="Exporta en excel" onclick="exportFile()">
      </div>
    </div>
    {% if grafico['xValues'] == "" %}
        <div style="padding-top:25px;"
        <p>Los filtros seleccionados no dieron resultados</p>
    {% else %}
        <div id="report">
            <div class ="row">
            <div class="col-lg-12">
                <canvas id="my_Chart" style="width:100%" ></canvas>
            </div>
            </div>
        </div>  
        </div>
    {% endif %}

</div>
<div style="display: none">
    <table id="exportaExcel">
        {% for rowY in grafico['variableXY']|batch(1) %}
            <tr>
                {% for columnY in rowY  %}
                    <td>{{ columnY['x'] }}</td>
                    <td>{{ columnY['y'] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>    

<script>
  function exportFile(){
  var wb = XLSX.utils.table_to_book(document.getElementById('exportaExcel'));
  XLSX.writeFile(wb, 'QuinsacCifras.xlsx');

}
</script>

<script>
  var Titulo = "Cantidad de obras";
  var xValues = [{{ grafico['xValues']|raw }}];
  var yValues = [{{ grafico['yValues']|raw }}];
  var barColors = [{{ grafico['stringColor']|raw }}];
  var dataExcel = [{{ grafico['dataArrayExcel']|raw }}];

</script>