{% if links.idCatalogo != "null" %}
	<div class='whiteArea pb-0'>
		<div class="menuBreadcrum">
			{% if links.ActualPage == "null" %}	
				<a href="/vpm/" style="color:#C0C0C0">Inicio /</a>
				<a href="{{ links.Portada }}">Portada</a>
			{% endif %}

			{% if links.ActualPage == "Art" %}
				<a href="/vpm/" style="color:#C0C0C0">Inicio /</a>
				<a href="{{ links.Portada }}" style="color:#C0C0C0">Portada /</a> 
				<a href="{{ links.Artistas }}">Artistas</a>
			{% endif %}

			{% if links.ActualPage == "Obras" %}
				<a href="/vpm/" style="color:#C0C0C0">Inicio /</a>
				<a href="{{ links.Portada }}" style="color:#C0C0C0">Portada /</a> 
				<a href="{{ links.Artistas }}" style="color:#C0C0C0">Artistas /</a>
				<a href="{{ links.Obras }}">Obras</a>
			{% endif %}

			{% if links.ActualPage == "Publ" %}
				<a href="/vpm/" style="color:#C0C0C0">Inicio /</a>
				<a href="{{ links.Portada }}" style="color:#C0C0C0">Portada /</a> 
				<a href="{{ links.Artistas }}" style="color:#C0C0C0">Artistas /</a>
				<a href="{{ links.Obras }}" style="color:#C0C0C0">Obras /</a>
				<a href="{{ links.Publicaciones }}">Publicaciones</a>
			{% endif %}

			{% if links.ActualPage == "Cron" %}				
				<a href="/vpm/" style="color:#C0C0C0" >Inicio /</a>
				<a href="{{ links.Portada }}" style="color:#C0C0C0">Portada /</a> 
				<a href="{{ links.Artistas }}" style="color:#C0C0C0">Artistas /</a>
				<a href="{{ links.Obras }}" style="color:#C0C0C0">Obras /</a>
				<a href="{{ links.Publicaciones }}" style="color:#C0C0C0">Publicaciones /</a>
				<a href="{{ links.Cronografia }}">Cronografía</a>		
			{% endif %}

			{% if links.ActualPage == "Sobr" %}				
				<a href="/vpm/" style="color:#C0C0C0" >Inicio /</a>
				<a href="{{ links.Portada }}" style="color:#C0C0C0">Portada /</a> 
				<a href="{{ links.Artistas }}" style="color:#C0C0C0">Artistas /</a>
				<a href="{{ links.Obras }}" style="color:#C0C0C0">Obras /</a>
				<a href="{{ links.Publicaciones }}" style="color:#C0C0C0">Publicaciones /</a>
				<a href="{{ links.Cronografia }}" style="color:#C0C0C0">Cronografía /</a>	
				<a href="{{ links.SobreInvestigacion }}">Sobre la investigación</a>			
			{% endif %}
		</div>
	{% endif %}
