<div class='whiteArea'>
	<div class="col-9 max-container px-0 m-auto ">
		<div class="row">
			<div class="col-lg-12">
				<h1>Obras</h1>
			</div>


			<form action="" method="get">
				<input type hidden name="idCat" value="{{ idCat }}">
				<input type hidden name="Sec" value="{{ Sec }}">
				<div class="row">
					<div class="col-lg-9">
						{% if busquedaIndex == null %}
							<input class='inputText' type='text' name='busquedaIndex' placeholder='Ingresa palabra o término…'>
						{% else %}
							<input class='inputText' type='text' name='busquedaIndex' value="{{ busquedaIndex }}">
						{% endif %}
					</div>

					<div class="col-lg-3">
						<input type='submit' class='btn2 button btnBuscar more-link' value="Busca">
					</div>
					<div class="col-lg-12 mb-3 mt-5 ">
						<h7>Refina tu búsqueda utilizando los siguientes filtros:</h7>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<div class="InfoTitulo1 pb-1">Catálogo</div>
						<div>
							<select class="inputSelect" name="catalogo" id="catalogo">
								<option value="1">Monvoisin</option>
							</select>
						</div>
					</div>

					<div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<div class="InfoTituloGeneroPictorico">Géneros pictóricos</div>
						<div>
							<select class="inputSelect" name="tematica" id="tematica">
								<option value="0">Selecciona</option>
								{% for obj in tematica %}
									{% if obj.selected == true %}
										<option selected value="{{ obj.idTematica }}">{{ obj.tematica }}</option>
									{% else %}
										<option value="{{ obj.idTematica }}">{{ obj.tematica }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<div class="InfoTitulo1 pb-1">Artista</div>
						<div>
							<select class="inputSelect" name="artista" id="artista">
								<option value="0">Selecciona</option>
								{% for obj in artista %}
									{% if obj.selected == true %}
										<option selected value="{{ obj.autorId }}">{{ obj.autor }}</option>
									{% else %}
										<option value="{{ obj.autorId }}">{{ obj.autor }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<div class="InfoTitulo1 pb-1">Año</div>
						<div>
							<select class="inputSelect" name="ano" id="ano">
								<option value="0">Selecciona</option>
								{% for obj in annio %}
									{% if obj.selected == true %}
										<option selected value="{{ obj.idfecEjec }}">{{ obj.fecEjec }}</option>
									{% else %}
										<option value="{{ obj.idfecEjec }}">{{ obj.fecEjec }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<div class="InfoTitulo1 pb-1">Técnica</div>
						<div>
							<select class="inputSelect" name="tecnica" id="tecnica">
								<option value="0">Selecciona</option>
								{% for obj in tecnica %}
									{% if obj.selected == true %}
										<option selected value="{{ obj.idTecnica }}">{{ obj.tecnica }}</option>
									{% else %}
										<option value="{{ obj.idTecnica }}">{{ obj.tecnica }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<div class="InfoTitulo1 pb-4-5"></div>
						<input type='submit' class='btn button btnBuscarFiltro more-link' value="Filtra">
					</div>
				</div>


				<div class="col-lg-12">
					<h5 class="linea">
						<span>Resultados</span>
					</h5>
				</div>
			

				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3 mb-3">
					<div>
						<select class="inputSelect" name="ordena" id="ordena" value="{{ ordenarPor }}">
							{% if ordenarPor == 0 %}
								<option value="0">Ordenar por:</option>
								<option value="1">Autor</option>
								<option value="2">Fecha</option>
								<option value="3">Géneros pictóricos</option>
								<option value="4">Técnica</option>
							{% elseif ordenarPor == 1 %}
								<option value="0">Ordenar por:</option>
								<option selected value="1">Autor</option>
								<option value="2">Fecha</option>
								<option value="3">Géneros pictóricos</option>
								<option value="4">Técnica</option>
							{% elseif ordenarPor == 2 %}
								<option value="0">Ordenar por:</option>
								<option value="1">Autor</option>
								<option selected value="2">Fecha</option>
								<option value="3">Géneros pictóricos</option>
								<option value="4">Técnica</option>
							{% elseif ordenarPor == 3 %}
								<option value="0">Ordenar por:</option>
								<option value="1">Autor</option>
								<option value="2">Fecha</option>
								<option selected value="3">Géneros pictóricos</option>
								<option value="4">Técnica</option>
							{% elseif ordenarPor == 4 %}
								<option value="0">Ordenar por:</option>
								<option value="1">Autor</option>
								<option value="2">Fecha</option>
								<option value="3">Géneros pictóricos</option>
								<option selected value="4">Técnica</option>
							{% endif %}
						</select>
					</div>
				</div>
			</form>

			
				{% for obj in obras %}
					<div class='cardItem col-lg-4 col-md-6 col-sm-6 col-xs-6'>
						<a href="{{ obj.urlObra }}">
							<div class='imgItem'><img src='{{ obj.rutaFoto }}'></div>
						</a>	
						
						<a href='obras?idCat=null&Sec=null&busquedaIndex=&catalogo=1&tematica={{obj.idTematica}}&artista=0&ano={{ obj.idfecEjec }}&tecnica={{ obj.idTecnica }}&ordena={{ ordenarPor }}'>
							<div class='nombreTematica'>{{ obj.nombreTematica }}</div>
						</a>		
						
						<a href='{{ obj.urlObra }}'>
							<div class='nombreObra'>{{ obj.tituloObra }}</div>
						</a>
						{% if obj.nombreArtista != null %}
							<div class='descItem'>
								Autoría:
								<a href='{{ obj.urlArtista }}' style="color:#000080;  text-decoration: underline;">{{ obj.nombreArtista }}</a>
							</div>
						{% endif %}
				
					</div>
				{% else %}
					<div class='cardItem col-lg-4 col-md-4 col-sm-6 col-xs-6'>
						<span>No se encontraron resultados</span>
					</div>
				{% endfor %}
			
		</div>
		<div class="pager mt-5">
			<div class="pager__items">
				{% for pag in arrayBoton %}
					{{pag | raw}}
				{% endfor %}
			</div>
		</div>
	</div>

</div>



