


<div class='whiteArea'>

	<div class="col-9 max-container px-0 m-auto ">

		<div class="row mb-5 ">
			{% for obj in artista %}
				<h1>{{ obj.nombreArtista }}</h1>
				<div class='alinearTexto col-lg-12 col-md-4 col-sm-12 col-xs-12'>
					<div ><img src='{{ obj.rutaFoto }}'></div>			
					{% if obj.idArtista == 323 %}
						<p>Clara Filleul-De Pétigny nació en Nogent-Le Rotrou, al norte de Francia, el 18 de marzo de 1822. 
							Su padre, François-Adrien Filleul-De Pétigny, fue un liberal que participó en L’emeute de Nogent-le-Rotrou 
							lors de la procession de 1838, un enfrentamiento entre católicos y anticlericales influenciados por la Ilustración
							y la Revolución Francesa. A los 18 años Clara emigra a París, donde participa en actividades literarias y se 
							convierte en alumna de pintura y dibujo del pintor bordelés Raymon Quinsac Monvoisin. Arribó a Chile hacia
							1844 / 1845 —en el período que transcurre entre su participación en la Exposition de l’Industrie de mayo de 
							1844 en París y su viaje a Perú con Monvoisin a mediados de 1845— y regresó a Francia alrededor de 1863. En Chile 
							se estableció junto a Monvoisin y su taller, participando activamente en la producción de retratos por todo el país.</p> 
						<p>En 1847 realizan un breve viaje a Francia. A su regreso al continente americano, 
							se establecen un tiempo en Río de Janeiro, Brasil, y participa en la Exposición General 
							de Bellas Artes exhibiendo una copia del retrato del Emperador don Pedro II realizado por
							Monvoisin para la misma ocasión. Tras su regreso a Chile en 1848, pasaría largas temporadas 
							en la Hacienda de los Molles en la Región de Valparaíso, donde compatibilizaría el trabajo artístico con el doméstico, 
							en el cuidado y crianza de los hijos del sobrino de Monvoisin. Durante la década de 1850 Clara participa en distintas 
							versiones de la Exposición Nacional de Artes y Manufactura, destacando en cada una de ellas e, incluso, trabajando en 
							la iluminación de fotografías junto al fotógrafo francés Deroche hacia 1854. Tras su regreso a Europa, en 1863 Clara 
							participa en el Salon des Refusés y en el Salón de París de 1864.</p>
						<p>La labor de Filleul se extiende también a la escritura. Entre los cuarenta títulos publicados en París se encuentran 
							L’Algérie (1846), L’Égypte, son histoire et ses merveilles (1850) y La Palestine, ou Une visite aux Lieux Saints (1866),
							lugares que además visita y probablemente ilustra. Fue también escritora de cuentos infantiles como Contes et légendes 
							(1838), dedicado a su madre; L’heureuse famille, ou les veillées amusantes (hacia 1840–1845) y Fables offertes à l’enfance 
							(1850), entre otros. También aparece como editora científica de Fable de Florian de Jean Pierre Claris de Florian (1755–1794)
							y como traductora de Oeuvres complètes du Chanoine Schmid (1838). Clara Filleul murió el 7 de agosto de 1878 en París, 
							Francia.</p>	

					{% elseif obj.idArtista == 341 %}
						<p>El 14 de febrero de 1819 nació en Mendoza Gregorio Torres, hijo de mulatos libertos. De su primera formación se menciona la estadía en 1837 en el 
						  Colegio Romo de Santiago de Chile, donde enseñaban J. B. Lebas, José Lastra y José Luis Borgoño. En los años cuarenta ya se encontraba en su provincia, 
						  de esta etapa solo se conocen los títulos de algunas obras. En enero de 1843, al pasar Raymond Quinsac Monvoisin por aquella provincia, sumó a Torres como su 
						  asistente en Chile. Fue propuesto por el artista francés para el cargo de inspector en la futura Academia de Bellas Artes, proyecto que no prosperó. Los retratos realizados en Chile, 
						  con su firma, siguen la fórmula de su maestro.</p>	
						<p>En 1845 ejecutó su obra de mayor aliento: La Beneficencia, conservada en el Museo Histórico Nacional. En 1846 fue galardonado en la exposición de la Cofradía del 
						   Santo Sepulcro, de los conservadores católicos. Es probable que el artista se haya distanciado del taller de Monvoisin, por los viajes de éste y su posterior establecimiento en el 
						   fundo de Los Molles. Torres debió haber ejercido el retrato en las regiones, en particular en La Serena. Se atribuye a su autoría el lienzo histórico que recuerda los episodios de la 
						   revolución de 1851. </p>  		
						<p>A mediados de los años cincuenta se encuentra activo en Mendoza, principalmente como retratista. También impartió clases de dibujo y pintura. El terremoto del 20 de marzo de 1861 lo 
						   obligó a radicarse en San Juan. En 1863 se casó con María Bustos, con la que tuvo tres hijos: Luisa, Gregorio y Celia. Entre los retratos realizados en San Juan sobresale el de Domingo F.
						   Sarmiento. A mediados de los años setenta, radicado nuevamente en su provincia, ejerció como docente en el Colegio Nacional de Mendoza, continuó con la enseñanza particular y como 
						   retratista.</p>
						<p>Gran parte de la obra de Torres de temática histórica permanece en paradero desconocido, algunas tal vez resultaron destruidas durante el mencionado sismo y otras extraviadas 
						   en un envío para ser expuestas en Buenos Aires y Río de Janeiro (aunque no tenemos certeza documental de estas muestras del artista). Falleció el 3 de noviembre de 1879 en Mendoza. </p>   

					{% elseif obj.idArtista == 342 %}		
					{% elseif obj.idArtista == 324 %}

					{% elseif obj.idArtista == 307 %}				
						<p>Nació en Burdeaux en 1790, ingresó a la Academia de Bellas Artes local en 1808. Asistió al taller de Pierre Lacour. 
						   De esta fase temprana destacan las pinturas religiosas para las iglesias de la región, las que trabajó en colaboración 
						   con su hermano Pierre, nacido en 1787. Se trasladó a París, donde ingresó a la École des beaux-arts el 9 de marzo de 1816, 
						   como discípulo de Pierre-Narcise Guérin (1774-1833). Obtuvo el primer premio en el concurso de bocetos históricos de ese año 
						   con La muerte de Darío. En los registros académicos figura con el nombre Pierre Raymond Jacques, diverso al consignado en el 
						   acta de bautismo, Auguste Raymond. El Quinsac incluido en su firma procede del solar familiar en Gascoigne (su hermano es 
						   registrado en los salones como Pierre l’aîné para diferenciarlos). Obtuvo el segundo lugar en los concursos para el Prix 
						   de Rome de 1820 y 1821. En 1820 había realizado el retrato de cuerpo entero del rey Luis XVIII para la Cour Royal de 
						   Aix-en-Provence (paradero desconocido), esto le permitió lograr el aval para ser igualmente pensionado. Se estableció 
						   en la Academia de Roma en noviembre de 1821, dirigida por Guérin, hasta fines de 1825. En marzo de este año se casa con 
						   la artista Domenica Festa (c. 1805-1881). Se conserva en el Palacio Cousiño una pintura ejemplar de esta etapa: Aristómenes 
						   en Ceada.</p>
						 <p>En 1827 comenzó a participar en el salón anual parisino. Este mismo año ejecutó el retrato de Mariano Egaña, ministro 
						    plenipotenciario de Chile, primero de un conjunto de retratos de chilenos en Francia. Desde 1830 realizó la serie de reyes 
						    merovingios y de mariscales de Francia para las galerías históricas de Versailles. En 1834 recibió el encargo de la Batalla
						    de Denain, finalizada en 1836, que no fue del agrado de Cailleux, director de los museos reales. </p>		
						 <p>En 1842, por intermedio de Francisco Javier Rosales Larraín, se iniciaron las tratativas para su radicación en Chile 
							para desarrollar la enseñanza pública aplicada a la industria, las artes y la pintura. En mayo se embarcó para Sudamérica y 
							enseptiembre se encontraba en Buenos Aires, luego de una breve estadía en Montevideo. Ejecutó, además de retratos, las 
							pinturas costumbristas Soldado de la Guardia de Rosas, Porteña en el templo y Gaucho federal. El 29 de noviembre partió 
							en caravana hacia Mendoza, para cruzar la cordillera; el 23 de enero de 1843 pasa la aduana chilena. </p>	
						<p>En marzo expuso las pinturas traídas de Francia, entre ellas Ali-Baja, Visir de Janina; Blanca de Beaulieu y 9 Termidor 
						   en la Universidad de San Felipe. Estableció una academia particular de pintura, luego de diferencias con el gobierno por
						   el establecimiento oficial. Entre sus primeros discípulos figuran la sanjuanina Procesa Sarmiento, el mendocino Gregorio
						   Torres, los chilenos José Gandarillas y Francisco Mandiola, además del que había sido propuesto como su asistente, José 
						   Luis Borgoño. También el sanjuanino Benjamín Franklin Rawson asiste a su taller. En agosto de 1845 viajó a Lima, junto a
						   la pintora y escritora francesa Clara Filleul, donde realizó retratos, entre ellos el del presidente Castilla. A su regreso, 
						   en enero de 1847, adquirió el fundo “Los Molles”, en Marga-Marga, próximo a Valparaíso. Poco después, retornó a 
						   Lima camino a Panamá; ejecutó retratos durante el recorrido por tierra, entre ellos un retrato de Bolívar. En 
						   agosto se encuentra en París, donde se reencontró con su hija Blanca. En el viaje de regreso a Chile, se detuvo en 
						   octubre en Río de Janeiro donde retrató a la pareja imperial, Pedro II de Brasil y Teresa Cristina de Borbón-Dos Sicilias. 
						   El retrato del emperador fue exhibido en la Academia Imperial en diciembre de 1847. En febrero de 1848 se embarcó para Chile. 
						   A comienzos del año siguiente llegó su sobrino Gastón para trabajar en “Los Molles”, donde también residía Filleul. 
						   En junio y julio el pintor viajó a Copiapó para explotar minas de plata. A comienzos de los años cincuenta realizó pintura 
						   religiosa, de historia y literaria, mientras que con su taller cubrió la alta demanda de retratos. El 3 de septiembre de 
						   1857 se embarcó para Francia.</p>				
						<p>Expuso en el Salón de París de 1859 temas americanos. En 1861, junto con la familia de Gastón, adquirió una vivienda
						   en Boulogne-sur-Seine. Entabló amistad con Allan Kardec, incorporándose a la Sociedad Espiritista de París, pintando 
						   la vida de Juana de Arco. El 26 de marzo de 1870 muere por una bronconeumonía.</p>




					{% endif %}
						
			</div>
			{% endfor %}
		</div>

		<div class="row">
			<h2>Obras destacadas del artista</h2>
			{% for obj in obrasDestacadas[1] %}
				<div class='cardItem col-lg-4 col-md-4 col-sm-6 col-xs-6'>
					<a href='{{ obj.urlObra }}'>
						<div class='imgItem'><img src='{{ obj.rutaFoto }}'></div>
					</a>
						<a href='obras?idCat=1&Sec=Obras&busquedaIndex=&catalogo=1&tematica={{obj.idTematica}}&artista={{obj.idArtista}}'>
						<div class='nombreTematica'>{{ obj.nombreTematica}}</div>
					</a>
					<a href='{{ obj.urlObra }}'>
						<div class='nombreObra'>{{ obj.tituloObra}}</div>
					</a>

					<div class='descItem'>
						Autoría:
						<a href='artista?id={{ obj.idArtista }}' style="color:#000080;  text-decoration: underline;">{{ obj.nombreArtista }}</a>
					</div>
					<a href='obra?id={{ obj.idObra }}'>
						<div class='descItem'>
							<div class='linkArtista'>
								Ve más
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
							</div>	
						</div>
					</a>
				</div>
			{% endfor %}
			{% if obrasDestacadas[0] > 6 %}
					{% for obj in artista %}
						<div class="col-12" style="margin-top:2.5rem">
							<a href="{{ obj.urlArtista }}" class="btn button btnBuscar more-link keychainify-checked">Ve todas las obras de este artista</a>
						</div>
					</a>
				{% endfor %}
			{% endif %}

		</div>
	</div>
</div>
