<div class='whiteArea'>

	<div class="col-9 max-container px-0 m-auto ">
		{% if obra.infoObra["titulo"] is not empty %}
			<div class="tituloFicha col-12">Ficha razonada:
				{{obra.infoObra["titulo"]}}
				<input type='hidden' value='{{obra.infoObra["titulo"]}}' id='tituloObra'>
				<input type='hidden' value='{{obra.infoObra["titulo"]}}' id='tituloContenido'>
			</div>
			{% if obra.obrasRelacionadas|length > 0 %}
				<div class="tituloFichaRelacionado col-12">Esta obra se encuentra vinculada con otras obras
				</div>
			{% endif %}
			<div class="divSepFicha">
				<div class="row">
					<div
						class="col-lg-6 col-md-12 col-xs-12 col-sm-12 imgFicha">
						<!--<img src='http://quinsac.patrimoniocultural.gob.cl/sites/default/files/Portada_recorte.jpg'>-->
						<div class='imgItem'><img src='{{obra.infoObra["urlImagen"]}}'></div>
						<input type='hidden' value='{{obra.infoObra["urlImagen"]}}' id='urlImg'>


					</div>
					<div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
						<div class="divSepFicha pt-0">
							<a href='pdf?idObra={{ obra.infoObra["idObra"] }}'>
								<div class="btn button btnBuscar more-link keychainify-checked">
									<i class="fa fa-download" aria-hidden="true"></i>
									Descarga la ficha razonada</div>
							</a>
						</div>
						<div class="divSepFicha">
							<div class="tituloObraFicha">{{obra.infoObra["titulo"]}}</div>
							{% if obra.infoObra["tecnica"] is not empty %}
								<div class="descObraFicha">{{obra.infoObra["tecnica"]}}
									sobre
									{{obra.infoObra["soporte"]}},
									{{obra.infoObra["alto"]}}
									x
									{{obra.infoObra["ancho"]}}</div>
							{% endif %}
							<div class="descObraFicha">{{obra.infoObra["autoria"]}}</div>
							<input type='hidden' value='{{obra.infoObra["autoria"]}}' id='autorNombre'>
							<input type='hidden' value='{{obra.infoObra["autorUrl"]}}' id='autorUrl'>
						</div>
						{% if obra.infoObra["tipoInscripcion"] is not empty %}
							<div class="divSepFicha">
								<div class="subTextoObraFicha">Inscripciones</div>
								<div class="descObraFicha">{{obra.infoObra["tipoInscripcion"]}}
									{{obra.infoObra["ubicacionInscripcion"]}}
									{{obra.infoObra["transInscripcion"]}}</div>
							</div>
						{% endif %}
						{% if obra.propiedadesObra|length > 0 %}
							<div class="divSepFicha">
								<div class="subTextoObraFicha">Procedencia</div>
								{% for obj in obra.propiedadesObra %}
									<div class="descObraFicha">{{ obj.nombrePropietarioObra }},
										{{ obj.ciudadAquisicionObra }},
										{{ obj.fechaAquisicionObra }}</div>
								{% endfor %}
							</div>
						{% endif %}
						{% if obra.exhibicionesObra|length > 0 %}
							<div class="pt-4">
								<div class="subTextoObraFicha">Exhibiciones</div>
								{% for obj in obra.exhibicionesObra %}
									<div class="descObraFicha">{{ obj.tituloExhibicion }},
										{{ obj.institucionExhibicion }},
										{{ obj.ciudadExhibicion }},
										{{ obj.anoExhibicion }}</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>


			{% if obra.infoObra["textoRazonado"] is not empty %}
				<div class="divSepFicha">
					<div class="colSepDosFicha descObraFicha">
						{{obra.infoObra["textoRazonado"] | raw }}
					</div>
					{% if obra.infoObra["referenciaTextoRazonado"] is not empty %}
						<div class="descObraFicha">
							{{obra.infoObra["referenciaTextoRazonado"] | raw }}
						</div>
					{% endif %}
					<div class="firmaObraFicha">{{obra.infoObra["autorTexto"]}}</div>
				</div>
			{% endif %}
			{% if obra.bibliografiaObra|length > 0 %}
				<div class="divSepFicha">
					<div class="subTextoObraFicha">Bibliografía</div>
					{% for obj in obra.bibliografiaObra %}
						<div class="descObraFicha">{{ obj.nombreAutorBiblio }},
							{{ obj.anioBiblio }},
							{{ obj.tituloBiblio }},
							{{ obj.revistaBiblio }},
							{{ obj.volumenBiblio }},
							{{ obj.paginacionBiblio }}</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class="divSepFicha">
				<div class="shareBox">
					Comparte
					<a href="#" class="share-facebook">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="#" class="share-twitter">
						<i class="fab fa-twitter"></i>
					</a>
				</div>
			</div>
			{% if obra.obrasRelacionadas|length > 0 %}
				<div class="divSepFicha" style="border-bottom:none">
					<h2>Obras vinculadas</h2>
					<div class="descObraFicha">
						<p>Las obras presentadas a continuación se encuentran relacionadas entre sí, 
						ya sea por vinculaciones familiares entre los personajes representados; 
						procedencias y propietarios similares o bien, por contextos de producción, 
						formación de obras seriadas, copias, temas o iconografías compartidas, entre 
						otras cuestiones.</p>
					</div>
					{% for obj in obra.obrasRelacionadas %}
						<div class='cardItem col-lg-4 col-md-4 col-sm-6 col-xs-6'>
							<a href='{{ obj.urlObra }}'>
								<div class='imgItem'><img src='{{ obj.rutaFoto }}'></div>
							</a>
							<!--<a href='tematica?idTematica={{ obj.idTematica }}'>
								<div class='nombreTematica'>{{ obj.nombreTematica}}</div>
							</a>-->

							<a href='obras?idCat=null&Sec=null&busquedaIndex=&catalogo=1&tematica={{obj.idTematica}}&artista=0&ano={{ obj.idfecEjec }}&tecnica={{ obj.idTecnica }}&ordena={{ ordenarPor }}'>
								<div class='nombreTematica'>{{ obj.nombreTematica }}</div>
							</a>


							<a href='{{ obj.urlObra }}'>
								<div class='nombreObra'>{{ obj.tituloObra}}</div>
							</a>

							<div class='descItem'>
								Autores:
								<a href='{{ obj.urlArtista }}'>{{ obj.nombreArtista }}</a>
							</div>

							{% if obj.TipoRelacion != null %}
								<div class='descItem'>Tipo de relación: {{obj.TipoRelacion}}</div>
							{% endif %}

							<a href='obra?id={{ obj.idObra }}'>
								<div class='descItem'>
									<b>
										Ve más
									</b>
								</div>
							</a>
						</div>
					{% endfor %}
					{% if obrasDestacadas[0] > 6 %}
						{% for obj in artista %}
							<div class="col-12" style="margin-top:2.5rem">
								<a href="{{ obj.urlArtista }}" class="btn button btnBuscar more-link keychainify-checked">Ve todas las obras de este artista</a>
							</div>
						</a>
					{% endfor %}
				{% endif %}

			</div>
		{% endif %}
		{% if obra.infoObra["linkImgOriginal"] is not empty %}
			{# <div id="seadragon-viewer" style="width:100%; height:600px;background-color:#000000"></div>
						<script src="//openseadragon.github.io/openseadragon/openseadragon.min.js"></script> #}


			<div class="divSepFicha" style='border-bottom:none;position:relative'>
				<h2>
					Explora la obra
				</h2>
				<div class='frame'>
					<img id='sample_picture' src='{{obra.infoObra["linkImgOriginal"]}}'>
				</div>
				<div id='controls'>
					<div>
						<button id='zoom_in' type='button' title='Zoom in'>
							<i class="fa fa-plus" aria-hidden="true"></i>
						</button>
					</div>
					<div>
						<button id='zoom_out' type='button' title='Zoom out'>
							<i class="fa fa-minus" aria-hidden="true"></i>
						</button>
					</div>
					<button id='fit' type='button' title='Fit image'>
						<i class="fa fa-refresh" aria-hidden="true"></i>
					</button>

				</div>
			</div>
		{% endif %}
		{% if obra.latYLong["latitudAdqObra"] is not empty %}
			<div class="divSepFicha" style='border-bottom:none'>
				<h2>
					Geolocalización de la obra
				</h2>
				<div id="map"></div>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8c7i3wQDkRnlmicmy1-gze_NIvB4nkpk&callback=initMap" async defer></script>
			</div>

			<div class='MargUbica'>
				<i class="fa fa-picture-o" style=" width: 2rem; height: 2rem;"></i>
					Ubicación de la obras({{obra.latYLong["latitudAdqObra"]}} / {{obra.latYLong["longitudAdqObra"]}})
			</div>
					
		{% endif %}
	{% else %}
		<div class="tituloFicha col-12">No se ha encontrado la obra
		</div>
	{% endif %}
</div>
<input type="hidden" value="{{obra.latYLong["latitudAdqObra"]}}" id="latObra">
<input type="hidden" value="{{obra.latYLong["longitudAdqObra"]}}" id="longObra"></div><script>

{
var request = new XMLHttpRequest();
request.open("GET", "http://localhost/images/4/ImageProperties.xml", false);
request.send();
var xml = request.responseXML;
var widthImage = xml.children[0].attributes[0].nodeValue;
var heightImage = xml.children[0].attributes[1].nodeValue;
var viewer = OpenSeadragon(
{
id: "seadragon-viewer",
prefixUrl: "http://localhost/images/",
tileSources: { // required
type: "zoomifytileservice",
width: parseInt(widthImage),
height: parseInt(heightImage),
tilesUrl: "http://localhost/images/4/"
}
}
)
}


function initMap() {
var latitud = document.getElementById("latObra").value;
var longitud = document.getElementById("longObra").value;
var options = {
zoom: 15,
center: {
lat: parseFloat(latitud),
lng: parseFloat(longitud)
} // Coordinates of New York
}
var map = new google.maps.Map(document.getElementById('map'), options);

console.log(latitud);
var marker = new google.maps.Marker({
position: {
lat: parseFloat(latitud),
lng: parseFloat(longitud)
}, // Brooklyn Coordinates
map: map, // Map that we need to add
icon: '{{ url('<front>') }}/sites/default/files/2022-04/miniObra.png',
// adding custom icons (Here I used a Flash logo marker)
draggarble: false // If set to true you can drag the marker
});

var information = new google.maps.InfoWindow({
content: '<div class="miniTitulo">' + document.getElementById("tituloObra").value + '</div><div class="miniImagen"><img src="' + document.getElementById("urlImg").value + '"></div><div class="miniLatLong">Latitud: ' + latitud + ' Longitud: ' + longitud + '</div><div class="miniAutor">Autor:   <a href="' + document.getElementById("autorUrl").value + '">' + document.getElementById("autorNombre").value + '</a></div>'
});

marker.addListener('click', function () {
information.open(map, marker);
});

}</script>
